Repository BurgerLUA/burgerstation, pull requests merged in 2020-06, with the labels that each got.

#26 Renamed the AR to BR because it's a Battle Rifle and not an Assault R…
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/assault.dm
Labels: Code

#27 Slavic update.
  code/_core/datum/damagetype/ranged/bullet/rifle_223.dm
  code/_core/datum/loadout/rev.dm
  code/_core/mob/living/advanced/human/npc/rev.dm
  code/_core/obj/item/clothing/overwear/armor/tacticool.dm
  code/_core/obj/item/magazine/rifle_russian.dm
  icons/obj/items/clothing/hats/exosuit_helmet.dmi
  icons/obj/items/clothing/hats/squad_helmet.dmi
  icons/obj/items/clothing/suit/exosuit.dmi
  icons/obj/items/clothing/suit/squad_armor.dmi
  icons/obj/items/magazine/545.dmi
  icons/obj/items/magazine/939.dmi
  icons/obj/items/weapons/ranged/rifle/939_groza.dmi
  icons/obj/items/weapons/ranged/rifle/939_val.dmi
  icons/obj/items/weapons/ranged/rifle/939_vintar.dmi
  icons/obj/items/weapons/ranged/rifle/rifle_545.dmi
  maps/horde/03_island.dmm
Labels: Code, Icon, Map

#28 Adds weapons and bullets
  code/_core/obj/item/bullet/rifle.dm
  code/_core/obj/item/bullet/sniper.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/russia.dm
Labels: Code

#31 da kool PR
  code/_core/datum/reagent/reagent_nutrition.dm
  code/_core/datum/reagent/reagent_toxin.dm
  code/_core/datum/reagent_recipe/food.dm
  code/_core/mob/living/simple/npc/bear.dm
  code/_core/mob/living/simple/npc/penguin.dm
  code/_core/mob/living/simple/npc/spacecarp.dm
  code/_core/mob/living/simple/npc/spider.dm
  code/_core/mob/living/simple/npc/xenomorph/_xenomorph.dm
  code/_core/obj/item/clothing/hats/paperbag.dm
  code/_core/obj/item/container/food/meat.dm
  code/_core/obj/item/fluff/bikehorn.dm
  code/_core/obj/item/handcuffs.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  icons/obj/items/clothing/hats/paperbag.dmi
  icons/obj/items/fluff/bikehorn.dmi
  sounds/items/bikehorn.ogg
Labels: Code, Icon, Sound

#32 Adds a 762 rifle (fixed)
  burgerstation.dme
  code/_core/obj/item/magazine/rifle_762mm.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/service.dm
  icons/obj/item/magazine/762_rifle.dmi
  icons/obj/item/weapons/ranged/rifle/762_service.dmi
Labels: Code, Icon

#34 Fixed Holy and Dark Armor making their respective spells weaker
  code/_core/obj/item/clothing/back/wings/angel.dm
  code/_core/obj/item/clothing/hats/cult.dm
  code/_core/obj/item/clothing/hats/helmet.dm
  code/_core/obj/item/clothing/masks/gasmask.dm
  code/_core/obj/item/clothing/overwear/armor/cult.dm
  code/_core/obj/item/clothing/overwear/armor/knight.dm
  code/_core/obj/item/clothing/overwear/coat/chaplain.dm
  code/_core/obj/item/clothing/uniform/chaplain.dm
  code/_core/obj/item/clothing/uniform/clown.dm
Labels: Code

#36 Added the Medical Voidsuit and the SEVA suit (Please merge)
  burgerstation.dme
  code/_core/obj/item/clothing/hats/hardsuit.dm
  code/_core/obj/item/clothing/overwear/hardsuit/medical.dm
  code/_core/obj/item/clothing/overwear/hardsuit/seva.dm
  icons/obj/item/clothing/hats/hardsuit_medical.dmi
  icons/obj/item/clothing/hats/seva_suit.dmi
  icons/obj/item/clothing/hats/sevamono_suit.dmi
  icons/obj/item/clothing/suit/hardsuit_medical.dmi
  icons/obj/item/clothing/suit/seva_suit.dmi
  icons/obj/item/clothing/suit/sevamono_suit.dmi
Labels: Code, Icon

#37 Adds descriptions and extended descriptions to various items.
  code/_core/datum/species/dummy.dm
  code/_core/mob/living/advanced/human/npc/dummy.dm
  code/_core/mob/living/simple/npc/bear.dm
  code/_core/mob/living/simple/npc/crab.dm
  code/_core/mob/living/simple/npc/passive/chicken.dm
  code/_core/mob/living/simple/npc/passive/cow.dm
  code/_core/mob/living/simple/npc/penguin.dm
  code/_core/mob/living/simple/npc/russian_clown.dm
  code/_core/mob/living/simple/npc/xenomorph/_xenomorph.dm
  code/_core/obj/decal/poster.dm
  code/_core/obj/item/magazine/_magazine.dm
  code/_core/obj/item/weapon/melee/torch.dm
  code/_core/obj/structure/interactive/atmospherics/_atmospherics.dm
  code/_core/obj/structure/interactive/bed_sleeper.dm
  code/_core/obj/structure/interactive/chair.dm
  code/_core/obj/structure/interactive/crate/_crate.dm
  code/_core/obj/structure/interactive/disposals/machine/chute.dm
  code/_core/obj/structure/interactive/disposals/machine/inlet.dm
  code/_core/obj/structure/interactive/disposals/machine/outlet.dm
  code/_core/obj/structure/interactive/door/airlock/station.dm
  code/_core/obj/structure/interactive/fire_alarm.dm
  code/_core/obj/structure/interactive/intercom.dm
  code/_core/obj/structure/interactive/lighting/floor.dm
  code/_core/obj/structure/interactive/lighting/tube.dm
  code/_core/obj/structure/interactive/misc.dm
  code/_core/obj/structure/interactive/plastic_flaps.dm
  code/_core/obj/structure/interactive/potted.dm
  code/_core/obj/structure/interactive/smelter.dm
  code/_core/obj/structure/interactive/smooth/grille.dm
  code/_core/obj/structure/interactive/smooth/table.dm
  code/_core/obj/structure/interactive/status_display.dm
Labels: Code

#38 Bugfix for magazines making the wrong sounds
  code/_core/obj/item/magazine/_magazine.dm
Labels: Code

#39 Adds the 7.62x54mmR round and the SVT-40 rifle
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/rifle_308.dm
  code/_core/obj/item/bullet/rifle.dm
  code/_core/obj/item/magazine/rifle_762mm_long.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/svt.dm
  icons/obj/item/magazine/762_rifle_long.dmi
  icons/obj/item/weapons/ranged/rifle/762_svt.dmi
Labels: Code, Icon
