Repository BurgerLUA/burgerstation, pull requests merged in 2020-11, with the labels that each got.

#94 Adds the Vampire Killer Whip
  burgerstation.dme
  code/_core/datum/damagetype/melee/club/vampire_killer.dm
  code/_core/obj/item/weapon/melee/vampirekiller.dm
  icons/obj/item/weapons/melee/clubs/whip.dmi
Labels: Code, Icon

#97 sprite adjusment for turret
  icons/mob/living/simple/turret_deployable.dmi
Labels: Icon

#96 Fixes Xray Laser
  code/_core/datum/damagetype/ranged/laser/rifle.dm
Labels: Code

#98 Adds examine text to a bunch of shit
  code/_core/obj/item/cell_charger.dm
  code/_core/obj/item/hand_tele.dm
  code/_core/obj/item/powercell/_powercell.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/_magazine.dm
  code/_core/obj/item/weapon/ranged/bullet/pump/_pump.dm
  code/_core/obj/item/weapon/ranged/laser/_laser.dm
Labels: Code

#100 Adds Advanced Laser Charger
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/attachment/attachment_barrel.dm
  icons/obj/item/attachments.dmi
Labels: Code, Icon

#99 Russin boolet gun (and also slight SKAT buff)
  burgerstation.dme
  code/_core/obj/item/clothing/overwear/hardsuit/russian.dm
  code/_core/obj/item/magazine/saiga_23.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/russia.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/shotgun/saiga_23.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/magazine/23_shotgun.dmi
  icons/obj/item/weapons/ranged/rifle/gauss_gun.dmi
  icons/obj/item/weapons/ranged/shotgun/saiga_23.dmi
Labels: Code, Icon

#101 Saiga sprite fix
  icons/obj/item/weapons/ranged/shotgun/saiga_23.dmi
Labels: Icon
