Repository BurgerLUA/burgerstation, pull requests merged in 2020-07, with the labels that each got.

#41 kool PR part 2
  code/_core/datum/reagent/reagent_nutrition.dm
  code/_core/datum/reagent_recipe/food.dm
  code/_core/mob/living/simple/npc/bull.dm
  code/_core/mob/living/simple/npc/crab.dm
  code/_core/mob/living/simple/npc/passive/chicken.dm
  code/_core/mob/living/simple/npc/xenomorph/_xenomorph.dm
  code/_core/obj/item/clothing/hats/paperbag.dm
  code/_core/obj/item/container/food/meat.dm
  icons/obj/item/clothing/hats/paperbag.dmi
Labels: Code, Icon

#40 Adds the SVD Dragunov
  code/_core/obj/item/magazine/rifle_762mm_long.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/sniper.dm
  icons/obj/item/weapons/ranged/rifle/762_snipe.dmi
Labels: Code, Icon

#33 Still worse at penetrating, but 25 Pierce was useless against any kind of armor, especially for 7.62 which dealt more Pierce than Blunt.
  code/_core/datum/damagetype/ranged/bullet/rifle_308.dm
Labels: Code

#42 Added sounds for a bunch of weapons
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/russia.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/svd.dm
  sound/weapons/russia/abakan.ogg
  sound/weapons/russia/gauss.ogg
  sound/weapons/russia/svd.ogg
  sound/weapons/russia/val.ogg
  sound/weapons/russia/vintorez.ogg
Labels: Code

#43 Adds descriptions for more items.
  code/_core/obj/item/clothing/ears/headsets.dm
  code/_core/obj/item/clothing/hats/polymorphic.dm
  code/_core/obj/item/clothing/hats/skimask.dm
  code/_core/obj/item/clothing/hats/ushanka.dm
  code/_core/obj/item/clothing/overwear/armor/medium.dm
  code/_core/obj/item/clothing/pants/syndicate.dm
  code/_core/obj/item/clothing/shirt/syndicate.dm
  code/_core/obj/item/magazine/autoshotgun.dm
  code/_core/obj/item/magazine/carbine_223.dm
  code/_core/obj/item/magazine/clip.dm
  code/_core/obj/item/magazine/gyrojet.dm
  code/_core/obj/item/magazine/lmg_223.dm
  code/_core/obj/item/magazine/lmg_762.dm
  code/_core/obj/item/magazine/pistol_10mm.dm
  code/_core/obj/item/magazine/pistol_12mm.dm
  code/_core/obj/item/magazine/pistol_40.dm
  code/_core/obj/item/magazine/pistol_45.dm
  code/_core/obj/item/magazine/pistol_50.dm
  code/_core/obj/item/magazine/pistol_9mm.dm
  code/_core/obj/item/magazine/revolver.dm
  code/_core/obj/item/magazine/rifle_308.dm
  code/_core/obj/item/magazine/rifle_545.dm
  code/_core/obj/item/magazine/rifle_556mm.dm
  code/_core/obj/item/magazine/rifle_762_short.dm
  code/_core/obj/item/magazine/rifle_762mm.dm
  code/_core/obj/item/magazine/rifle_762mm_long.dm
  code/_core/obj/item/magazine/rifle_russian.dm
  code/_core/obj/item/magazine/smg.dm
  code/_core/obj/item/magazine/smg_40.dm
  code/_core/obj/item/magazine/smg_4mm.dm
  code/_core/obj/item/magazine/smp_9mm.dm
  code/_core/obj/item/magazine/sniper_50.dm
  code/_core/obj/item/magazine/sniper_762mm.dm
  code/_core/obj/item/magazine/syringegun.dm
  code/_core/obj/item/magazine/tranq.dm
  code/_core/obj/item/magazine/tungsten.dm
  code/_core/obj/item/pinpointer.dm
  code/_core/obj/item/storage/kits/_kits.dm
  code/_core/obj/item/storage/pouch.dm
  code/_core/obj/item/weapon/ranged/laser/recharging/captain.dm
  code/_core/obj/structure/interactive/computer/_computer.dm
Labels: Code

#46 Adds in the 7.62x38mmR m1985 Nagant Revolver
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/revolver_762.dm
  code/_core/obj/item/bullet/revolver.dm
  code/_core/obj/item/weapon/ranged/bullet/revolver/nagant.dm
  icons/obj/item/bullet/762_revolver.dmi
  icons/obj/item/weapons/ranged/revolver/762.dmi
Labels: Code, Icon

#49 Fixes the bulletproof armor
  code/_core/obj/item/clothing/overwear/armor/bulletproof.dm
Labels: Code

#47 Added the KS23 Shotgun
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/shotgun_23.dm
  code/_core/obj/item/bullet/shotgun_23.dm
  code/_core/obj/item/storage/ammo.dm
  code/_core/obj/item/weapon/ranged/bullet/pump/shotgun/ks23.dm
  icons/obj/item/bullet/shotgun_23.dmi
  icons/obj/item/storage/ammo.dmi
  icons/obj/item/weapons/ranged/shotgun/ks23.dmi
Labels: Code, Icon

#52 Adds the Gauss Carbine
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/gauss.dm
  code/_core/obj/item/bullet/gauss.dm
  code/_core/obj/item/magazine/gauss.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/gauss_carbine.dm
  icons/obj/item/bullet/gauss_carbine.dmi
  icons/obj/item/magazine/gauss_carbine.dmi
  icons/obj/item/weapons/ranged/rifle/gauss_carbine.dmi
Labels: Code, Icon

#51 WE GRILLIN 2NITE
  icons/obj/structure/foodcart.dmi
  icons/obj/structure/grill.dmi
Labels: Icon

#53 Jungle Hellscape Map
  burgerstation.dme
  code/__defines/weather.dm
  code/_core/area/transit/dropship.dm
  code/_core/datum/loadout/skeleton_miner.dm
  code/_core/mob/living/advanced/human/npc/skeleton_miner.dm
  code/_core/mob/living/advanced/human/npc/syndicate.dm
  code/_core/obj/item/magazine/autoshotgun.dm
  code/_core/obj/shuttle_controler/shuttle_controler_types.dm
  code/_core/obj/structure/interactive/computer/_computer.dm
  code/_core/turf/simulated/floor/basalt.dm
  code/_core/turf/simulated/floor/tile_shuttle.dm
  code/_core/world/subsystems/areas.dm
  icons/area/weather.dmi
  icons/turf/floor/basalt.dmi
  maps/horde/01_bluespace.dmm
  maps/horde/02_burgerstation.dmm
  maps/horde/05_hellscape.dmm
Labels: Code, Icon, Map

#54 Adds descriptions for a bunch of bullets
  code/_core/obj/item/bullet/bolt.dm
  code/_core/obj/item/bullet/gyro.dm
  code/_core/obj/item/bullet/pistol.dm
  code/_core/obj/item/bullet/revolver.dm
  code/_core/obj/item/bullet/rifle.dm
  code/_core/obj/item/bullet/shotgun.dm
  code/_core/obj/item/bullet/shotgun_23.dm
  code/_core/obj/item/bullet/sniper.dm
  code/_core/obj/item/bullet/syringe.dm
  code/_core/obj/item/bullet/tranq_11mm.dm
  code/_core/obj/item/bullet/tungsten.dm
Labels: Code

#55 Adds 'bunker' walls for future use.
  burgerstation.dme
  code/_core/turf/simulated/wall/bunker.dm
  icons/turf/wall/bunker.dmi
Labels: Code, Icon

#56 Adds a polearm section to weapons and a goedendag
  burgerstation.dme
  code/_core/datum/damagetype/melee/club/goedendag.dm
  code/_core/obj/item/weapon/melee/polearms.dm
  icons/obj/item/weapons/melee/polearms/goedendag.dmi
  icons/obj/item/weapons/melee/polearms/polearms.dmi
  icons/obj/item/weapons/melee/polearms/polearms_icons.dmi
Labels: Code, Icon

#58 Quick hellscape edits
  code/_core/area/lz_001/caves/_caves.dm
  icons/area/area.dmi
  maps/horde/WIP_hellscape.dmm
Labels: Code, Icon, Map

#59 Swaps colossus with ash drake in final boss room
  maps/horde/WIP_hellscape.dmm
Labels: Map

#62 Adds descs for a bunch of melee weapons.
  code/_core/obj/item/weapon/melee/baton.dm
  code/_core/obj/item/weapon/melee/chainsaw.dm
  code/_core/obj/item/weapon/melee/dan_sprite_test.dm
  code/_core/obj/item/weapon/melee/energy.dm
  code/_core/obj/item/weapon/melee/katana.dm
  code/_core/obj/item/weapon/melee/ling_blade.dm
  code/_core/obj/item/weapon/melee/nullrod.dm
  code/_core/obj/item/weapon/melee/polearms.dm
  code/_core/obj/item/weapon/melee/rocks.dm
  code/_core/obj/item/weapon/melee/stunbaton.dm
  code/_core/obj/item/weapon/melee/swords.dm
  code/_core/obj/item/weapon/melee/tool/_tool.dm
  code/_core/obj/item/weapon/melee/toolboxes.dm
Labels: Code

#63 (Hopefully) finished writing descs for most items.
  code/_core/obj/item/currency/_currency.dm
  code/_core/obj/item/ingot/_ingot.dm
  code/_core/obj/item/material/shard.dm
  code/_core/obj/item/ore/_ore.dm
  code/_core/obj/item/paper/_paper.dm
  code/_core/obj/item/paper/book/_book.dm
  code/_core/obj/item/paper/syndicate_note.dm
  code/_core/obj/item/trigger/keypad.dm
  code/_core/obj/item/trigger/radio.dm
  code/_core/obj/item/trigger/signaller.dm
  code/_core/obj/item/trigger/timer.dm
Labels: Code

#64 Skeleton Summoning Tome
  burgerstation.dme
  code/_core/datum/ai/advanced/skeleton_summon.dm
  code/_core/datum/class/npc/summoned_skeleton.dm
  code/_core/datum/loadout/skeleton_summon.dm
  code/_core/mob/living/advanced/human/npc/skeleton_summon.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon_skeleton.dm
  code/_core/obj/projectile/magic.dm
  icons/obj/item/weapons/ranged/magic/tomes/skeleton_summon.dmi
  icons/obj/projectiles/magic.dmi
Labels: Code, Icon

#66 Ports Glockroaches
  burgerstation.dme
  code/_core/datum/ai/simple/glockroach.dm
  code/_core/datum/class/npc/glockroach.dm
  code/_core/datum/class/npc/glockroach.dmi
  code/_core/datum/damagetype/npc/glockroach.dm
  code/_core/mob/living/simple/npc/glockroach.dm
  icons/mob/living/simple/glockroach.dmi
Labels: Code, Icon

#69 Creates Plightbringer
  burgerstation.dme
  code/_core/datum/damagetype/melee/sword/plightbringer.dm
  code/_core/datum/damagetype/ranged/magic/magefire.dm
  code/_core/obj/item/weapon/melee/energy.dm
  icons/obj/item/weapons/melee/swords/plightbringer.dmi
Labels: Code, Icon

#70 More new items
  burgerstation.dme
  code/_core/datum/damagetype/ranged/magic/blackflame.dm
  code/_core/obj/item/weapon/ranged/bullet/pump/shotgun/ks23.dm
  code/_core/obj/item/weapon/ranged/magic/staff.dm
  code/_core/obj/projectile/magic.dm
  icons/obj/item/weapons/melee/swords/plightbringer.dmi
  icons/obj/item/weapons/ranged/magic/blackflame.dmi
  icons/obj/item/weapons/ranged/shotgun/ks23.dmi
  icons/obj/projectiles/magic.dmi
Labels: Code, Icon
