Repository BurgerLUA/burgerstation, pull requests merged in 2020-04, with the labels that each got.

#21 Defib description change
  code/_core/obj/item/defib.dm
Labels: Code, Code Review Required

#22 Adds more descriptions to stuff
  code/_core/obj/_obj.dm
  code/_core/obj/item/bullet/pistol.dm
  code/_core/obj/item/bullet/shotgun.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/heavy_sniper.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/marksman.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/smg/bullpup.dm
  code/_core/obj/structure/interactive/conveyor.dm
  code/_core/obj/structure/interactive/ore_box.dm
  code/_core/obj/structure/interactive/ore_storage.dm
  code/_core/obj/structure/interactive/smelter.dm
  code/_core/obj/structure/interactive/smooth/table.dm
  code/_core/obj/structure/interactive/smooth/window/_window.dm
  code/_core/turf/_turf.dm
Labels: Code

#23 Update 1_2_island.dmm Artisan shop
  maps/horde/1_2_island.dmm
Labels: Map, 🟠Author Attention Needed
