Repository BurgerLUA/burgerstation, pull requests merged in 2021-07, with the labels that each got.

#241 Adds glucose and alphabetisation to the chemvendor
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
Labels: Code

#243 Adds Descriptions (Both desc and desc_extended) to walls
  code/_core/turf/simulated/wall/ash.dm
  code/_core/turf/simulated/wall/banana.dm
  code/_core/turf/simulated/wall/boss.dm
  code/_core/turf/simulated/wall/brick.dm
  code/_core/turf/simulated/wall/bunker.dm
  code/_core/turf/simulated/wall/clockwork.dm
  code/_core/turf/simulated/wall/cult.dm
  code/_core/turf/simulated/wall/hierophant.dm
  code/_core/turf/simulated/wall/ice.dm
  code/_core/turf/simulated/wall/metal.dm
  code/_core/turf/simulated/wall/river.dm
  code/_core/turf/simulated/wall/rock.dm
  code/_core/turf/simulated/wall/shuttle.dm
  code/_core/turf/simulated/wall/smooth.dm
  code/_core/turf/simulated/wall/traitor.dm
  code/_core/turf/simulated/wall/wood.dm
  code/_core/turf/simulated/wall/xeno.dm
Labels: Code

#276 QOL shit 1 [Ready!]
  code/_core/datum/contract/_contract.dm
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/drop_pod_remote/_supply_pod_remote.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  code/_core/turf/unsimulated/generation/jungle_deep.dm
  maps/jungle/z_01.dmm
  maps/jungle/z_02.dmm
  maps/prefabs/64x64/clockwork.dmm
  maps/prefabs/64x64/cult.dmm
  maps/prefabs/64x64/xeno.dmm
  maps/prefabs/antag/rev_compound.dmm
  maps/prefabs/boss/ash_drake.dmm
  maps/prefabs/boss/bubblegum.dmm
  maps/prefabs/boss/colossus.dmm
  maps/prefabs/boss/frog.dmm
  maps/prefabs/boss/goblin_king.dmm
  maps/prefabs/boss/herald.dmm
  maps/prefabs/forest/base_01.dmm
Labels: Code, Map

#278 Bandoliers 1.1
  code/_core/obj/item/clothing/belt/bandolier.dm
Labels: Code

#279 adding Botany enhancements.
  burgerstation.dme
  code/__defines/experience.dm
  code/_core/datum/class/_class.dm
  code/_core/datum/class/npc.dm
  code/_core/datum/experience/skills.dm
  code/_core/datum/loot/scroll.dm
  code/_core/datum/reagent_container/food.dm
  code/_core/obj/item/consumable/fertilizer.dm
  code/_core/obj/item/experience_scroll/experience_scroll_skill.dm
  code/_core/obj/structure/interactive/botany/_plant.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
Labels: Code

#280 Enable magazine enhancements
  burgerstation.dme
  code/_core/obj/item/magazine/_magazine.dm
  code/_core/obj/item/tempering/tempering_magazine.dm
Labels: Code

#282 7 new plants growable in botany
  code/_core/datum/plant/_plant_type.dm
  code/_core/datum/reagent/reagent_nutrition_grain.dm
  code/_core/datum/reagent/reagent_nutrition_plants.dm
  code/_core/obj/item/seed/seed_types.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
Labels: Code

#283 Add 2 weird, cross-stat weapon examples
  burgerstation.dme
  code/_core/datum/loot/fishing.dm
  code/_core/obj/item/bullet/shotgun_20.dm
  code/_core/obj/item/magazine/autoshotgun.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/shotgun/cursed.dm
  code/_core/obj/item/weapon/ranged/spellgem/buckshot.dm
  code/_core/obj/item/weapon/ranged/spellgem/chaos.dm
  icons/obj/item/weapons/ranged/shotgun/cursed.dmi
Labels: Code, Icon

#286 swaggy ass reagent examine visibility bullshit and beaker precision
  code/_core/obj/item/container/beaker/_beaker.dm
  code/_core/obj/item/container/beaker/cigarette.dm
  code/_core/obj/item/container/medicine/spray.dm
  code/_core/obj/item/storage/bags/_bags.dm
  code/_core/obj/item/weapon/ranged/reagent_sprayer/_reagent_sprayer.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
Labels: Code

#284 Crafting components
  burgerstation.dme
  code/__defines/colors.dm
  code/_core/datum/damagetype/ranged/laser/cutter.dm
  code/_core/datum/experience/skills.dm
  code/_core/datum/loot/fishing.dm
  code/_core/datum/material/_material.dm
  code/_core/datum/reagent/reagent_blood.dm
  code/_core/datum/recipe/_recipe.dm
  code/_core/datum/recipe/smelter.dm
  code/_core/datum/recipe/workbench/alloys.dm
  code/_core/datum/recipe/workbench/armor_overwear.dm
  code/_core/obj/item/clothing/overwear/armor/explorer.dm
  code/_core/obj/item/clothing/overwear/armor/knight.dm
  code/_core/obj/item/clothing/overwear/armor/sneaking.dm
  code/_core/obj/item/crafting/ingredients/_ingredient.dm
  code/_core/obj/item/crafting/ingredients/alloys.dm
  code/_core/obj/item/crafting/ingredients/parts.dm
  code/_core/obj/item/crafting/ingredients/polymers.dm
  code/_core/obj/item/crafting/ingredients/threads.dm
  code/_core/obj/item/material/ingot.dm
  code/_core/obj/item/material/sheet.dm
  code/_core/obj/item/material/wood.dm
  code/_core/obj/item/ore/_ore.dm
  code/_core/obj/item/weapon/ranged/laser/fed/_fed.dm
  code/_core/obj/item/weapon/ranged/laser/fed/plasma_cutter.dm
  code/_core/obj/projectile/laser.dm
  code/_core/obj/structure/interactive/ground_ore_deposit.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  code/_core/obj/structure/interactive/smooth/window/_window.dm
  code/_core/obj/structure/interactive/wall_ore_deposit.dm
  config/admin.txt
  icons/obj/item/crafting/alloys.dmi
  icons/obj/item/crafting/parts.dmi
  icons/obj/item/crafting/polymers.dmi
  icons/obj/item/crafting/threads.dmi
  icons/obj/item/weapons/ranged/laser/plasma_cutter.dmi
  icons/obj/projectiles/laser.dmi
  sound/weapons/cutter/fire.ogg
Labels: Code, Icon

#290 Ak fix
  code/_core/obj/item/magazine/rifle_762_short.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/ak47.dm
Labels: Code

#288 Capsaicin fix
  code/_core/datum/reagent/reagent_nutrition_plants.dm
Labels: Code

#287 Mag enhancer sprites
  code/_core/obj/item/tempering/tempering_magazine.dm
  icons/obj/item/tempering.dmi
Labels: Code, Icon

#289 Map tweaks
  maps/jungle/z_01.dmm
Labels: Map

#293 Adds nickel to ore pool and makes alloys smeltable
  code/__defines/colors.dm
  code/_core/datum/material/_material.dm
  code/_core/datum/recipe/smelter.dm
  code/_core/obj/item/material/ingot.dm
  code/_core/obj/structure/interactive/ground_ore_deposit.dm
  code/_core/obj/structure/interactive/wall_ore_deposit.dm
Labels: Code

#295 spritechanges
  icons/obj/item/weapons/melee/toolbox/red.dmi
  icons/obj/structure/supermatter.dmi
Labels: Icon

#299 Station tweaks
  code/_core/obj/item/storage/bags/_bags.dm
  maps/jungle/z_01.dmm
Labels: Code, Map

#300 Adds the mining hardsuit to the mining vendor
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
Labels: Code

#302 Adds stuff to the prize vendor (Merge if you dare)
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  maps/jungle/z_01.dmm
Labels: Code, Map

#305 Syndicate base ruin change
  maps/prefabs/64x64/syndicate.dmm
Labels: Map

#301 Burger+factorio
  code/_core/obj/item/disk/_disk.dm
  code/_core/obj/item/storage/bags/_bags.dm
  code/_core/obj/item/weapon/melee/tool/rcd.dm
  code/_core/obj/structure/interactive/conveyor_new.dm
  code/_core/obj/structure/interactive/diverter.dm
  code/_core/obj/structure/interactive/local_machine/vendor/engineering.dm
  code/_core/obj/structure/interactive/ore_storage.dm
  icons/obj/structure/ore_storage.dmi
Labels: Code, Icon

#311 [DRAFT] SLAUGHTERCLAWS (so far)
  burgerstation.dme
  code/_core/datum/damagetype/unarmed/slaughter.dm
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/weapon/melee/slaughterclaws.dm
Labels: Code

#315 Syndicate Marskman rifle buff
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/marksman.dm
Labels: Code

#313 The Annihilator Addition
  burgerstation.dme
  code/_core/obj/item/magazine/thompson.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/smg/thompson.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/magazine/thompson.dmi
  icons/obj/item/weapons/ranged/smg/thompson.dmi
Labels: Code, Icon

#312 Quality of Life Changes
  code/_core/obj/item/analyzer/_analyzer.dm
  code/_core/obj/item/container/medicine/_medicine.dm
  code/_core/obj/item/magazine/_magazine.dm
  code/_core/obj/item/pinpointer.dm
  code/_core/obj/item/powercell/_powercell.dm
  code/_core/obj/item/tempering/tempering_quality.dm
  code/_core/obj/item/weapon/ranged/_ranged.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/shotgun/cursed.dm
  code/_core/obj/item/weapon/ranged/spellgem/buckshot.dm
  code/_core/obj/structure/interactive/boss_loot.dm
  sound/effects/wishgranter.ogg
Labels: Code

#307 adds proof of concept cosmetic headset
  code/_core/obj/item/clothing/ears/headsets.dm
Labels: Code

#310 Makes magician's gems work, for real.
  code/_core/obj/item/tempering/tempering_quality.dm
Labels: Code

#316 Honey Badger PDW
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/honey.dm
  code/_core/obj/item/bullet/rifle.dm
  code/_core/obj/item/magazine/honey.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/honey.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/magazine/honey.dmi
  icons/obj/item/weapons/ranged/rifle/syndicate/honey.dmi
Labels: Code, Icon

#318 adds more Russian Content in the form of a singular gun
  code/_core/datum/loot/lavaland.dm
  code/_core/datum/loot/weapon_rifles.dm
  code/_core/obj/item/magazine/gauss.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/gauss.dm
  icons/obj/item/magazine/gauss_carbine.dmi
  icons/obj/item/weapons/ranged/rifle/rev/gauss_carbine.dmi
Labels: Code, Icon

#321 Finally blundergauss
  burgerstation.dme
  code/_core/datum/loot/supply_crate.dm
  code/_core/datum/loot/weapon_pistols.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/gauss.dm
  code/_core/obj/item/weapon/ranged/bullet/revolver/gauss.dm
  icons/obj/item/weapons/ranged/revolver/gauss_blunder.dmi
Labels: Code, Icon

#322 Revolver ammo boxes
  code/_core/obj/item/storage/ammo.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/storage/ammo.dmi
Labels: Code, Icon

#323 hopefully fixes slaughter_heavy
  code/_core/datum/damagetype/unarmed/slaughter.dm
  code/_core/obj/item/weapon/melee/slaughterclaws.dm
Labels: Code

#319 This one only contains the wings (dyeable)
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/clothing/back/wings/angel.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/abakan.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/gauss.dm
  icons/obj/item/clothing/back/wings/demon.dmi
Labels: Code, Icon

#325 Change to teh rev grenade launcher i guess
  burgerstation.dme
  code/_core/obj/item/weapon/ranged/bullet/pump/rev_gl.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/weapons/ranged/misc/gm94.dmi
Labels: Code, Icon

#326 ENDLESS REVOLVERS, A COMEDY OF ERRORS
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/gauss.dm
  code/_core/obj/item/weapon/ranged/temp/_temp.dm
  icons/obj/item/clothing/belts/endless_holster.dm
Labels: Code, Icon

#320 Additional off-type content
  burgerstation.dme
  code/_core/datum/damagetype/ranged/magic/chaos.dm
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/magazine/_magazine.dm
  code/_core/obj/item/tempering/tempering_magazine.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/shotgun/cursed.dm
  code/_core/obj/item/weapon/ranged/spellgem/f50cal.dm
  code/_core/obj/item/weapon/ranged/spellgem/metronome.dm
  code/_core/obj/item/weapon/ranged/spellgem/oozey.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  icons/obj/item/tempering.dmi
Labels: Code, Icon

#327 HOLY M1911. GOD HELP ME IN CODING THIS.
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/holybullet.dm
  code/_core/obj/item/bullet/pistol.dm
  code/_core/obj/item/magazine/holy45.dm
  code/_core/obj/item/magazine/thompson.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/pistol/holy45.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/honey.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/smg/thompson.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  icons/obj/item/bullet/holy45.dmi
  icons/obj/item/bullet/holy45_surplus.dmi
  icons/obj/item/magazine/holy45.dmi
  icons/obj/item/weapons/ranged/pistol/holy45.dmi
  icons/obj/item/weapons/ranged/rifle/syndicate/50.dmi
  icons/obj/item/weapons/ranged/rifle/syndicate/honey.dmi
Labels: Code, Icon

#329 [DRAFT] Adding the Flamethrower, and ONLY the Flamethrower.
  burgerstation.dme
  code/_core/datum/damagetype/ranged/laser/flamethrower.dm
  code/_core/datum/loadout/rev_new.dm
  code/_core/obj/effect/temp/damaging/_damaging.dm
  code/_core/obj/item/clothing/back/storage/backpack/explorer_pack.dm
  code/_core/obj/item/clothing/back/storage/backpack/rucksack.dm
  code/_core/obj/item/clothing/back/storage/flamethrower.dm
  code/_core/obj/item/clothing/head/helmet/full/seva.dm
  code/_core/obj/item/clothing/overwear/armor/seva.dm
  code/_core/obj/item/clothing/overwear/hardsuit/russian.dm
  code/_core/obj/item/clothing/shirt/gorka.dm
  code/_core/obj/item/crafting/ingredients/parts.dm
  code/_core/obj/item/weapon/ranged/laser/fed/flamethrower.dm
  code/_core/obj/projectile/laser.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/effects/flamer_fire_effect.dmi
  icons/obj/item/clothing/back/backpack/rucksack.dmi
  icons/obj/item/clothing/back/flamethrower.dmi
  icons/obj/item/clothing/belts/endless_holster.dm
  icons/obj/item/clothing/hats/sevasyndie_suit.dmi
  icons/obj/item/clothing/suit/sevasyndie_suit.dmi
  icons/obj/item/crafting/parts.dmi
  icons/obj/item/weapons/ranged/flamethrower.dmi
  icons/obj/projectiles/spray.dmi
Labels: Code, Icon

#330 BEGS STALKEROS TO PUT THE FLAMETHROWER IN THE VENDOR SINCE HE ASKED SO NICELY
  code/_core/datum/damagetype/ranged/laser/flamethrower.dm
  code/_core/obj/item/clothing/back/storage/flamethrower.dm
  code/_core/obj/item/crafting/ingredients/_ingredient.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
Labels: Code, Icon

#331 Adds the hypospray.
  code/_core/datum/loadout/syndicate/_syndicate.dm
  code/_core/datum/reagent_container/syringe.dm
  code/_core/obj/item/container/beaker/syringe.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/container/hypospray.dmi
Labels: Code, Icon

#336 quick-shoot magic gems from belt
  code/_core/obj/item/weapon/ranged/spellgem/_spellgem.dm
Labels: Code

#342 Ballistic Shield Sprite Fix + Blundergauss Rebalance
  code/_core/obj/item/weapon/ranged/bullet/revolver/gauss.dm
  icons/obj/item/shields/ballistic.dmi
Labels: Code, Icon
