Repository BurgerLUA/burgerstation, pull requests merged in 2021-02, with the labels that each got.

#116 Adds player in tents, adds combat code.
  burgerstation.dme
  code/_core/datum/savedata/server/soapstone.dm
  code/_core/mob/living/advanced/player/life.dm
  code/_core/obj/structure/interactive/crate/crate.dm
  code/_core/obj/structure/interactive/crate/tent.dm
  code/_core/world/subsystems/soapstone.dm
  icons/obj/structure/tent.dmi
  maps/horde/hellscape.dmm
  maps/horde/island.dmm
  maps/horde/lz_420.dmm
Labels: Code, Icon, Map

#118 rcd bandaid
  code/_core/obj/item/disk/_disk.dm
  code/_core/obj/item/weapon/melee/tool/rcd.dm
Labels: Code

#117 fishing fixes part 841147328942
  code/_core/obj/item/fishing/bait.dm
  code/_core/obj/item/fishing/lure.dm
  code/_core/obj/item/fishing/rod.dm
  code/_core/turf/simulated/hazard/_hazard.dm
  code/_core/turf/simulated/hazard/lava.dm
  code/_core/turf/simulated/hazard/water.dm
Labels: Code

#120 Antag no drag non-antag body, no dead body in crate
  code/_core/mob/living/advanced/player/_player.dm
  code/_core/obj/structure/interactive/crate/_crate.dm
Labels: Code

#119 grillin fix!!!
  code/_core/obj/structure/interactive/smooth/table/grill.dm
Labels: Code

#121 TURBO NERFS the runeblade
  code/_core/obj/item/weapon/ranged/magic/spellblade.dm
Labels: Code

#122 mmyees fix bait
  code/_core/obj/item/fishing/rod.dm
Labels: Code

#124 Fallout Power Armor suits
  code/_core/obj/item/clothing/head/helmet/full/powerarmor.dm
  code/_core/obj/item/clothing/overwear/armor/powerarmor.dm
  icons/obj/item/clothing/hats/apa.dmi
  icons/obj/item/clothing/hats/ncrpa.dmi
  icons/obj/item/clothing/hats/t45.dmi
  icons/obj/item/clothing/hats/t51.dmi
  icons/obj/item/clothing/suit/enclave_apa.dmi
  icons/obj/item/clothing/suit/ncrpowerarmor.dmi
  icons/obj/item/clothing/suit/t45armor.dmi
  icons/obj/item/clothing/suit/t51armor.dmi
Labels: Code, Icon

#123 Stealthily burning rev update
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/rifle_223.dm
  code/_core/datum/damagetype/ranged/bullet/rifle_308.dm
  code/_core/datum/damagetype/ranged/bullet/shotgun_23.dm
  code/_core/datum/loadout/rev_new.dm
  code/_core/datum/loot/weapon.dm
  code/_core/obj/item/bullet/rifle.dm
  code/_core/obj/item/bullet/shotgun_23.dm
  code/_core/obj/item/bullet/sniper.dm
  code/_core/obj/item/clothing/back/storage/backpack/explorer_pack.dm
  code/_core/obj/item/clothing/head/helmet/full/ghillie.dm
  code/_core/obj/item/clothing/head/helmet/hardsuit/russian.dm
  code/_core/obj/item/clothing/overwear/coat/ghillie.dm
  code/_core/obj/item/storage/ammo.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/russia.dm
  code/_core/obj/projectile/bullet/firearm.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/bullet/shotgun_23.dmi
  icons/obj/item/clothing/hats/maskcoat_grass.dmi
  icons/obj/item/clothing/hats/maskcoat_lava.dmi
  icons/obj/item/clothing/hats/maskcoat_snow.dmi
  icons/obj/item/clothing/pants/gorka.dmi
  icons/obj/item/clothing/suit/maskcoat_grass.dmi
  icons/obj/item/clothing/suit/maskcoat_lava.dmi
  icons/obj/item/clothing/suit/maskcoat_snow.dmi
  icons/obj/item/storage/ammo.dmi
  icons/obj/item/weapons/melee/ballistic_shield.dmi
  icons/obj/item/weapons/ranged/rifle/auto_545.dmi
Labels: Code, Icon

#125 Add the body bag
  burgerstation.dme
  code/_core/obj/item/fluff/bikehorn.dm
  code/_core/obj/structure/interactive/crate/bodybag.dm
  code/_core/obj/structure/interactive/local_machine/vendor/janitor.dm
  icons/obj/item/deployable/bodybag.dmi
Labels: Code, Icon

#129 Adding Space Lube recipe for the clown and janitor players.
  code/_core/datum/reagent_recipe/misc.dm
Labels: Code

#128 Inhands and attachies
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/minigun.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/smg/bullpup.dm
  code/_core/obj/item/weapon/ranged/laser/laser_rifle.dm
  icons/obj/item/weapons/ranged/smg/bison.dmi
Labels: Code, Icon

#131 weed time
  code/_core/datum/plant/_plant_type.dm
  code/_core/datum/reagent/reagent_nutrition_plants.dm
  code/_core/obj/item/seed/seed_types.dm
  code/_core/obj/structure/interactive/botany/plant.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  icons/obj/item/clothing/masks/cigarette.dmi
  icons/obj/item/clothing/masks/joint.dmi
  icons/obj/item/consumable/food/plants.dmi
  icons/obj/structure/botany.dmi
Labels: Code, Icon

#133 stunbaton more like uhhhhhhhhhhhhhhhhh coolbaton????? idk
  code/_core/obj/item/weapon/melee/stunbaton.dm
Labels: Code

#135 Player Rev Earpiece
  code/_core/datum/loadout/rev_new.dm
Labels: Code

#137 Fixes crew radios not being able to talk on ship radios, implements syndicate radios
  code/__defines/radio.dm
  code/_core/datum/loadout/syndicate/_syndicate.dm
  code/_core/obj/item/clothing/ears/headsets.dm
  code/_core/obj/item/trigger/radio.dm
Labels: Code

#136 epic temper menu
  code/_core/obj/item/tempering/_tempering.dm
Labels: Code

#130 paper bag logo menu!!!!!! lets goo
  code/_core/obj/item/clothing/head/helmet/full/paper_bag.dm
  icons/obj/item/clothing/hats/paperbag.dmi
Labels: Code, Icon

#132 Small pack of decorations!
  burgerstation.dme
  code/_core/obj/structure/interactive/misc/computers.dm
  code/_core/obj/structure/interactive/misc/gravestone.dm
  code/_core/obj/structure/interactive/misc/green_wooden_box.dm
  code/_core/obj/structure/interactive/misc/green_wooden_box2.dm
  icons/obj/structure/misc_new.dmi
  icons/obj/structure/misc_new_big.dmi
Labels: Code, Icon

#134 plascrusader armor
  code/_core/obj/item/clothing/feet/shoes/plascrusader.dm
  code/_core/obj/item/clothing/hands/gloves/plascrusader.dm
  code/_core/obj/item/clothing/head/helmet/full/plascrusader.dm
  code/_core/obj/item/clothing/overwear/armor/plascrusader.dm
  icons/obj/item/clothing/gloves/plascrusadergloves.dmi
  icons/obj/item/clothing/hats/plascrusaderhelm.dmi
  icons/obj/item/clothing/shoes/plascrusaderboots.dmi
  icons/obj/item/clothing/suit/plascrusader.dmi
Labels: Code, Icon

#140 mmm yes more greentide
  code/_core/datum/gamemode/horde_types.dm
  code/_core/datum/loot/goblin.dm
  code/_core/mob/living/simple/goblin.dm
Labels: Code

#139 Freezegun buff and AER tweek
  code/_core/datum/damagetype/ranged/laser/freezegun.dm
  code/_core/obj/item/weapon/ranged/laser/freezegun.dm
  code/_core/obj/item/weapon/ranged/laser/laser_rifle.dm
Labels: Code

#127 nice fishing things aagain
  code/_core/datum/loot/fishing.dm
  code/_core/obj/item/fishing/rod.dm
  code/_core/obj/item/fishing/tacklebox.dm
  icons/obj/item/fishing/rodtelescopic.dmi
Labels: Code, Icon

#142 Adds Crystal Canyons
  code/_core/area/CrystalCanyon/CrystalCanyon.dm
  maps/_maps.dm
  maps/horde/crystalcanyon.dmm
Labels: Code, Map

#144 Crystalcanyons Hotfix 1 + Centcomm Conveyor fix
  code/_core/area/crystal_canyons/_crystal_canyons.dm
  maps/core/burgerstation.dmm
  maps/horde/crystalcanyon.dmm
Labels: Code, Map

#149 Fix u up
  burgerstation.dme
  code/__defines/damage.dm
  code/__defines/hud.dm
  code/__defines/projectiles.dm
  code/_core/client/verbs/gamemaster.dm
  code/_core/datum/ai/boss/can_man.dm
  code/_core/datum/ai/boss/colossus.dm
  code/_core/datum/ai/simple/glockroach.dm
  code/_core/datum/ai/simple/goblin.dm
  code/_core/mob/movement.dm
  code/_core/obj/structure/_structure.dm
  code/addons/lighting/lighting_turf.dm
Labels: Code

#152 Basic CI
  .github/workflows/beepsky.yml
  tools/ci/dependencies
  tools/ci/dm.sh
  tools/ci/install_byond.sh
  tools/ci/sources.list
Labels: Github

#147 Rev Update (kang doesn't fuck up as hard edition)
  code/_core/datum/loadout/rev_new.dm
Labels: Code

#154 Unjunks fresh and saltwater fishing pools a tad.
  code/_core/datum/loot/fishing.dm
Labels: Code

#159 Untangles the Rune Sword a little bit.
  code/_core/obj/item/weapon/ranged/magic/spellblade.dm
Labels: Code
