Repository BurgerLUA/burgerstation, pull requests merged in 2021-04, with the labels that each got.

#202 adds openspace: allowing multi-z
  burgerstation.dme
  code/_core/mob/living/_living.dm
  code/_core/obj/item/_item.dm
  code/_core/turf/simulated/_simulated.dm
  code/_core/turf/simulated/floor/openspace.dm
  code/_core/turf/simulated/floor/stairs.dm
  icons/turf/floor/openspace.dmi
  icons/turf/floor/stairs.dmi
Labels: Code, Icon, Map

#213 Book of the Sacred Flame: The Buff
  code/_core/obj/item/weapon/melee/sacred_flame.dm
Labels: Code

#216 The Chemistry Medicine Update
  burgerstation.dme
  code/_core/datum/reagent/reagent_blood.dm
  code/_core/datum/reagent/reagent_core.dm
  code/_core/datum/reagent/reagent_drug.dm
  code/_core/datum/reagent/reagent_enzymes.dm
  code/_core/datum/reagent/reagent_fuel.dm
  code/_core/datum/reagent/reagent_medicine.dm
  code/_core/datum/reagent/reagent_medicine_core.dm
  code/_core/datum/reagent/reagent_toxin.dm
  code/_core/datum/reagent_container/_reagent_container.dm
  code/_core/datum/reagent_recipe/drugs.dm
  code/_core/datum/reagent_recipe/magic.dm
  code/_core/datum/reagent_recipe/medicine.dm
  code/_core/datum/reagent_recipe/misc.dm
  code/_core/datum/reagent_recipe/oil.dm
  code/_core/obj/item/container/blood_pack/_blood_pack.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  code/_core/world/subsystems/reagent.dm
  code/_core/world/subsystems/turfs.dm
Labels: Code

#215 The American Soccer PR
  burgerstation.dme
  code/_core/area/burgerstation/_burgerstation.dm
  code/_core/atom/_atom.dm
  code/_core/atom/moveable/movement.dm
  code/_core/mob/living/_living.dm
  code/_core/mob/living/movement.dm
  code/_core/obj/decal/soccer.dm
  code/_core/obj/item/_item.dm
  code/_core/obj/item/ball.dm
  code/_core/obj/item/clothing/pants/shorts.dm
  code/_core/obj/item/clothing/shirt/normal.dm
  code/_core/obj/item/fluff/whistle.dm
  code/_core/obj/structure/interactive/diverter.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  code/_core/world/subsystems/ball.dm
  icons/obj/decal/soccer.dmi
  icons/obj/item/ball.dmi
  icons/obj/item/clothing/pants/shorts.dmi
  icons/obj/item/whistle.dmi
  maps/core/burgerstation.dmm
  sound/effects/ball_kick.ogg
  sound/effects/whistle.ogg
Labels: Code, Icon, Map

#218 you know what fuck you *ungoblins your horde*
  code/_core/datum/gamemode/horde_types.dm
Labels: Code

#206 Adds the 12.7x90mm browning deployable
  burgerstation.dme
  code/_core/obj/item/deployable/_deployable.dm
  code/_core/obj/item/magazine/browning_127.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/misc/browning.dm
  code/_core/obj/structure/interactive/local_machine/vendor/security.dm
  code/_core/obj/structure/interactive/mountable/browning.dm
  icons/obj/item/browning_handle.dmi
  icons/obj/item/deployable/browning.dmi
  icons/obj/item/magazine/127_browning.dmi
  icons/obj/structure/mountable/browning.dmi
Labels: Code, Icon

#220 Shotgun Shell Bandoliers
  burgerstation.dme
  code/_core/obj/item/clothing/belt/bandolier.dm
  code/_core/obj/structure/interactive/local_machine/vendor/security.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/clothing/belts/bandolier_12.dmi
  icons/obj/item/clothing/belts/bandolier_20.dmi
  icons/obj/item/clothing/belts/bandolier_23.dmi
Labels: Code, Icon
