Repository BurgerLUA/burgerstation, pull requests merged in 2021-03, with the labels that each got.

#163 le canman buff
  code/_core/datum/ai/boss/can_man.dm
Labels: Code

#162 The Genetics PR
  burgerstation.dme
  code/__defines/_stylesheet.dm
  code/__defines/colors.dm
  code/_core/datum/loot/boss.dm
  code/_core/datum/trait/_trait.dm
  code/_core/mob/living/_living.dm
  code/_core/mob/living/advanced/player/saving.dm
  code/_core/mob/living/living_traits.dm
  code/_core/obj/item/analyzer/genetics.dm
  code/_core/obj/item/genetic_ball.dm
  code/_core/world/subsystems/traits.dm
  icons/obj/item/analyzers/genetic.dmi
  icons/obj/item/genetic_ball.dmi
Labels: Code, Icon

#169 Eggs, cheese, and cheese crafting areas
  code/_core/area/hellscape/exterior.dm
  code/_core/datum/reagent/reagent_nutrition_milk.dm
  code/_core/obj/item/container/food/egg.dm
Labels: Code

#156 BoH and SoH buffs
  code/_core/obj/item/clothing/back/storage/bluespace/_bluespace.dm
Labels: Code

#164 Rabbit is now dark + arcane.
  code/_core/obj/item/clothing/head/hats/cat.dm
Labels: Code

#167 beefy buff
  code/_core/datum/class/npc/beefman.dm
  code/_core/datum/damagetype/unarmed/beef.dm
  code/_core/mob/living/advanced/human/npc/beefman.dm
Labels: Code

#165 Magazine Changes
  code/_core/obj/item/magazine/pulse.dm
  code/_core/obj/item/tempering/tempering_luck.dm
  code/_core/obj/item/weapon/ranged/laser/captain.dm
  code/_core/obj/item/weapon/ranged/laser/laser_rifle.dm
Labels: Code

#168 Adds Flares to most NanoTrasen vendors
  burgerstation.dme
  code/_core/obj/item/clothing/head/helmet/full/paper_bag.dm
  code/_core/obj/item/flare.dm
  code/_core/obj/item/weapon/melee/torch.dm
  code/_core/obj/structure/interactive/local_machine/vendor/engineering.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  code/_core/obj/structure/interactive/local_machine/vendor/security.dm
  icons/obj/item/flare.dmi
  sound/items/flare_cap.ogg
  sound/items/flare_in.ogg
  sound/items/flare_out.ogg
Labels: Code, Icon

#171 Adds Function Fire Extinguishers
  code/_core/obj/item/weapon/ranged/reagent_sprayer/_reagent_sprayer.dm
  code/_core/obj/projectile/spray.dm
  code/_core/obj/structure/interactive/fire_closet.dm
  icons/obj/item/extinguisher.dmi
  icons/obj/projectiles/spray.dmi
  icons/obj/structure/fire_closet_new.dmi
  maps/core/burgerstation.dmm
Labels: Code, Icon, Map

#170 Hellscape QOL Changes
  maps/horde/hellscape.dmm
Labels: Map

#173 dye dye dye dye dye dye dye dye dye dye dye dye dye
  code/_core/obj/item/clothing/back/storage/backpack/poly.dm
  code/_core/obj/item/clothing/back/storage/duffle/poly.dm
  code/_core/obj/item/clothing/back/storage/satchel/poly.dm
  code/_core/obj/item/dying.dm
  code/_core/obj/item/slime_core/_slime_core.dm
Labels: Code

#174 fishing LUCK time
  code/_core/obj/item/fishing/rod.dm
Labels: Code

#176 Herald Buff
  code/_core/datum/class/npc/herald.dm
  code/_core/mob/living/simple/herald.dm
Labels: Code

#175 Base PR: Totems
  burgerstation.dme
  code/_core/datum/loot/goblin.dm
  code/_core/mob/living/_living.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/_totem.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/totem.dm
  code/_core/obj/structure/totem.dm
  icons/obj/item/weapons/ranged/magic/tomes/totem_summon.dmi
  icons/obj/structure/totem.dmi
Labels: Code, Icon

#179 Adds Bows, Quivers, and Arrows
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bow/_bow.dm
  code/_core/datum/damagetype/ranged/bow/ashen.dm
  code/_core/datum/damagetype/ranged/bow/hardlight.dm
  code/_core/obj/hud/inventory/interaction.dm
  code/_core/obj/item/bullet/arrow.dm
  code/_core/obj/item/clothing/belt/quiver.dm
  code/_core/obj/item/weapon/_weapon.dm
  code/_core/obj/item/weapon/ranged/_ranged.dm
  code/_core/obj/item/weapon/ranged/bow/_bow.dm
  code/_core/obj/projectile/bullet.dm
  icons/obj/item/bullet/arrow.dmi
  icons/obj/item/bullet/arrow_ashen.dmi
  icons/obj/item/bullet/arrow_hardlight.dmi
  icons/obj/item/clothing/belts/belt_quiver.dmi
  icons/obj/item/weapons/ranged/bow/ashen.dmi
  icons/obj/item/weapons/ranged/bow/hardlight.dmi
  icons/obj/item/weapons/ranged/bow/steel.dmi
  icons/obj/item/weapons/ranged/bow/wood.dmi
  icons/obj/projectiles/arrow.dmi
  sound/weapons/bow/draw_ashen.ogg
  sound/weapons/bow/draw_bow2.ogg
  sound/weapons/bow/draw_hardlight.ogg
  sound/weapons/bow/draw_steel.ogg
  sound/weapons/bow/fire.ogg
Labels: Code, Icon

#172 Cheese Mapping
  code/_core/area/lz_001/caves/_caves.dm
  code/_core/area/lz_001/outpost/syndicate.dm
  maps/horde/hellscape.dmm
  maps/horde/island.dmm
Labels: Code, Map

#177 hmmm
  burgerstation.dme
  code/_core/obj/structure/interactive/crate/supply_pod.dm
  code/_core/obj/structure/interactive/meme.dm
  icons/obj/item/meme.dmi
Labels: Code, Icon

#182 Adds Pathfinding
  burgerstation.dme
  code/__defines/astar.dm
  code/__defines/burger_star.dm
  code/__defines/door.dm
  code/__defines/interaction.dm
  code/__helpers/burger_star.dm
  code/__helpers/interaction.dm
  code/_core/area/centcomm/_centcomm.dm
  code/_core/atom/_atom.dm
  code/_core/atom/moveable/_movable.dm
  code/_core/atom/moveable/astar.dm
  code/_core/atom/moveable/burger_star.dm
  code/_core/client/_client.dm
  code/_core/client/verbs/debug.dm
  code/_core/client/verbs/gamemaster.dm
  code/_core/datum/ai/_ai.dm
  code/_core/datum/ai/ai_life.dm
  code/_core/datum/ai/ai_movement.dm
  code/_core/datum/ai/ai_path.dm
  code/_core/datum/ai/ghost/_ghost.dm
  code/_core/datum/dialogue/npc/nanotrasen_soldier.dm
  code/_core/mob/living/advanced/organs.dm
  code/_core/obj/burger_star.dm
  code/_core/obj/effect/_effect.dm
  code/_core/obj/item/_item.dm
  code/_core/obj/structure/interactive/blob/_blob.dm
  code/_core/obj/structure/interactive/door/_door.dm
  code/_core/obj/structure/interactive/the_curse.dm
  code/_core/turf/_turf.dm
  code/_core/world/subsystems/advanced_thinking.dm
  code/_core/world/subsystems/turfs.dm
  code/addons/astar/__defines.dm
  code/addons/astar/_math.dm
  maps/core/burgerstation.dmm
Labels: Code

#183 Adds new menu music track: Carrib
  burgerstation.dme
  code/__defines/sound.dm
  code/__defines/track.dm
  code/_core/datum/track/_track.dm
  sound/music/Carrib.ogg
Labels: Code

#180 More Totems and Totem Buffs
  code/_core/datum/loot/enchanting.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/_totem.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/totem.dm
  code/_core/obj/structure/totem.dm
  icons/obj/structure/totem.dmi
Labels: Code, Icon

#181 The Cigarette PR
  burgerstation.dme
  code/_core/datum/addiction/addiction_nicotine.dm
  code/_core/datum/addiction/addiction_opium.dm
  code/_core/datum/damagetype/melee/club/lighter.dm
  code/_core/datum/emote/standard.dm
  code/_core/datum/reagent/reagent_core.dm
  code/_core/datum/reagent/reagent_fuel.dm
  code/_core/datum/reagent/reagent_medicine.dm
  code/_core/datum/reagent/reagent_medicine_painkiller.dm
  code/_core/datum/reagent_container/cigarette.dm
  code/_core/mob/chat.dm
  code/_core/mob/living/_living.dm
  code/_core/mob/living/advanced/_advanced.dm
  code/_core/mob/living/advanced/inventory.dm
  code/_core/obj/item/_item.dm
  code/_core/obj/item/clothing/_clothing.dm
  code/_core/obj/item/container/beaker/cigarette.dm
  code/_core/obj/item/container/blood_pack/_blood_pack.dm
  code/_core/obj/item/interaction.dm
  code/_core/obj/item/lighter.dm
  code/_core/obj/item/storage/cigarettes.dm
  code/_core/obj/item/storage/eggbox.dm
  code/_core/obj/item/trash.dm
  code/_core/obj/item/weapon/melee/stunbaton.dm
  code/_core/obj/structure/interactive/local_machine/vendor/cigarette.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/lighter/basic.dmi
  icons/obj/item/smoking/cigarette.dmi
  icons/obj/item/storage/cigarette_packages.dmi
  icons/obj/item/trash.dmi
  maps/core/burgerstation.dmm
Labels: Code, Icon, Map

#186 Description fix for stockers and maybe other items
  code/_core/obj/item/clothing/head/helmet/full/nanotrasen.dm
  code/_core/obj/item/clothing/overwear/coat/vest.dm
  code/_core/obj/structure/interactive/restocker.dm
Labels: Code

#188 Adds alternative WT magazines
  code/_core/datum/damagetype/ranged/bullet/smg_4mm.dm
  code/_core/obj/item/bullet/pistol.dm
  code/_core/obj/item/magazine/smg_4mm.dm
  icons/obj/item/magazine/4mm_smg.dmi
Labels: Code, Icon

#187 Adds Goblin Merchant; Adds a way for you to get your lost loot.
  burgerstation.dme
  code/_core/area/burgerstation/_burgerstation.dm
  code/_core/client/_client.dm
  code/_core/client/verbs/debug.dm
  code/_core/datum/dialogue/npc/merchant_goblin.dm
  code/_core/datum/dialogue/npc/taxman.dm
  code/_core/datum/loadout/goblin_merchant.dm
  code/_core/datum/savedata/client/death_box/_death_box.dm
  code/_core/mob/living/advanced/_advanced.dm
  code/_core/mob/living/advanced/human/npc/unique/goblin_merchant.dm
  code/_core/mob/living/advanced/player/_player.dm
  code/_core/mob/living/advanced/player/life.dm
  code/_core/obj/item/_item.dm
  code/_core/obj/item/clothing/glasses/sunglasses.dm
  code/_core/obj/item/clothing/neck/cape.dm
  code/_core/obj/item/data_saving.dm
  code/_core/obj/item/inventory.dm
  code/_core/obj/item/storage/death_box.dm
  code/_core/obj/item/supply_crate.dm
  code/_core/obj/structure/interactive/barsign.dm
  code/_core/obj/structure/interactive/local_machine/vendor/random.dm
  code/_core/obj/structure/interactive/local_machine/vendor/wizard.dm
  code/_core/obj/structure/interactive/shop/_shop.dm
  icons/obj/item/storage/death_box.dmi
  icons/obj/structure/store_signs.dmi
  maps/core/burgerstation.dmm
Labels: Code, Icon, Map

#191 Removes 0.4.6mm magazines for real this time
  code/_core/obj/item/magazine/smg_4mm.dm
Labels: Code

#189 Ghosts/observers can now "orbit" (follow) mobs
  code/_core/client/verbs/view.dm
  code/_core/mob/_mob.dm
  code/_core/mob/abstract/observer/verbs/_verbs.dm
  code/_core/mob/movement.dm
Labels: Code

#184 Goblin King
  burgerstation.dme
  code/_core/area/prefab/_prefab.dm
  code/_core/datum/ai/boss/goblin_king.dm
  code/_core/datum/class/npc/goblin_king.dm
  code/_core/datum/loot/lavaland.dm
  code/_core/mob/living/advanced/human/npc/goblin_warrior.dm
  code/_core/mob/living/simple/goblin_king.dm
  code/_core/obj/item/clothing/head/hats/goblin_crown.dm
  code/_core/obj/item/clothing/neck/goblin_necklace.dm
  code/_core/obj/item/clothing/pants/goblin_loin.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/summon_skeleton.dm
  code/_core/world/subsystems/dmm_suite.dm
  icons/hud/boss_bar.dmi
  icons/mob/living/simple/goblin_king.dmi
  icons/obj/item/clothing/hats/goblin_crown.dmi
  icons/obj/item/clothing/neck/goblin_necklace.dmi
  icons/obj/item/clothing/pants/goblin_loin.dmi
  maps/prefabs/32x32/goblin_king.dmm
Labels: Code, Icon, Map

#196 Gigagar buff
  code/_core/obj/item/clothing/glasses/sunglasses.dm
Labels: Code

#197 Adds Prestige
  burgerstation.dme
  code/_core/area/burgerstation/_burgerstation.dm
  code/_core/datum/ai/_ai.dm
  code/_core/datum/class/unrobust.dm
  code/_core/datum/damagetype/_damagetype.dm
  code/_core/datum/dialogue/npc/master.dm
  code/_core/datum/enchantment/_enchantment.dm
  code/_core/datum/experience/_experience.dm
  code/_core/datum/experience/attributes.dm
  code/_core/datum/health/mob/living/_living.dm
  code/_core/datum/health/mob/living/advanced/_advanced.dm
  code/_core/datum/health/obj/item/organ/_organ.dm
  code/_core/datum/loadout/master.dm
  code/_core/mob/living/advanced/_advanced.dm
  code/_core/mob/living/advanced/human/npc/unique/master.dm
  code/_core/mob/living/advanced/player/_player.dm
  code/_core/mob/living/advanced/player/saving.dm
  code/_core/mob/living/experience.dm
  code/_core/mob/living/life.dm
  code/_core/mob/living/movement.dm
  code/_core/mob/living/resist.dm
  code/_core/obj/effect/temp/blood/_blood.dm
  code/_core/obj/hud/buttons/widget.dm
  code/_core/obj/item/_item.dm
  code/_core/obj/item/combat.dm
  code/_core/obj/item/container/medicine/_medicine.dm
  code/_core/obj/item/organs/_organs.dm
  code/_core/obj/item/weapon/ranged/_ranged.dm
  code/_core/obj/item/weapon/ranged/bow/_bow.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/_summon.dm
  code/_core/turf/_turf.dm
  maps/core/burgerstation.dmm
Labels: Code, Map

#192 Bloodborne weapons and clothing
  burgerstation.dme
  code/_core/datum/damagetype/melee/sword/cleaver_blade.dm
  code/_core/datum/damagetype/melee/sword/cleaver_saw.dm
  code/_core/datum/damagetype/melee/sword/uncoiled.dm
  code/_core/obj/item/clothing/head/hats/tricorn.dm
  code/_core/obj/item/clothing/neck/neck_wrap.dm
  code/_core/obj/item/clothing/overwear/coat/trench.dm
  code/_core/obj/item/weapon/melee/bloodborne.dm
  icons/obj/item/clothing/hats/tricorn.dmi
  icons/obj/item/clothing/neck/neck_wrap.dmi
  icons/obj/item/clothing/suit/trench_coat.dmi
  icons/obj/item/weapons/melee/swords/cleaver_blade.dmi
  icons/obj/item/weapons/melee/swords/cleaver_saw.dmi
  icons/obj/item/weapons/melee/swords/uncoiled.dmi
Labels: Code, Icon

#193 adds simple telescience
  burgerstation.dme
  code/_core/obj/item/analyzer/angle.dm
  code/_core/obj/structure/interactive/teleporter.dm
  icons/obj/structure/telesciencepads.dmi
  maps/core/burgerstation.dmm
Labels: Code, Icon, Map

#194 the blood totem
  code/_core/datum/loot/enchanting.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/totem.dm
  code/_core/obj/structure/totem.dm
  icons/obj/structure/totem.dmi
Labels: Code, Icon

#200 include gems and tempering to leveled_effect for Totems
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/_totem.dm
  code/_core/obj/structure/totem.dm
Labels: Code

#198 stack those (neck and hand) accessories
  code/__defines/item.dm
  code/_core/obj/hud/inventory/hands.dm
  code/_core/obj/hud/inventory/head.dm
  code/_core/obj/item/clothing/neck/_neck.dm
  code/_core/obj/item/clothing/neck/goblin_necklace.dm
  code/_core/obj/item/clothing/neck/miner_talisman.dm
  code/_core/obj/item/clothing/neck/tie.dm
Labels: Code

#201 no more wall totems, no more bullet hits from summons
  code/_core/mob/living/simple/goblin_king.dm
  code/_core/obj/item/weapon/ranged/magic/tomes/summon/totem/_totem.dm
  code/_core/obj/projectile/magic.dm
Labels: Code

#204 One Time Life: The Dusting
  code/_core/mob/living/_living.dm
  code/_core/mob/living/life.dm
  code/_core/mob/living/simple/goblin_king.dm
Labels: Code

#205 Totems: An Owner Lost
  code/_core/obj/structure/totem.dm
Labels: Code

#207 paper bag altclick fix
  code/_core/obj/item/clothing/head/helmet/full/paper_bag.dm
Labels: Code

#208 dye momento numero dos
  code/_core/obj/item/dying.dm
  code/_core/obj/item/slime_core/_slime_core.dm
Labels: Code

#209 tactical hoarding
  code/_core/obj/item/clothing/overwear/armor/plate_carrier.dm
Labels: Code

#210 fish loot tweaky
  code/_core/datum/loot/fishing.dm
Labels: Code
