Repository BurgerLUA/burgerstation, pull requests merged in 2021-09, with the labels that each got.

#421 Duck slippers
  burgerstation.dme
  code/_core/datum/footstep/footstep_types.dm
  code/_core/obj/item/clothing/feet/shoes/duck.dm
  code/_core/obj/item/storage/shoes.dm
  code/_core/obj/structure/interactive/local_machine/vendor/theatre.dm
  icons/obj/item/clothing/shoes/duck.dmi
  sound/effects/footsteps/quack1.ogg
  sound/effects/footsteps/quack2.ogg
Labels: Code, Icon

#422 eod sprite fix v2
  icons/obj/item/clothing/suit/eod_suit.dmi
Labels: Icon

#426 OH GOD OH FUCK OH SHIT
  code/_core/datum/loot/halloween.dm
  code/_core/obj/item/container/food/package/junk.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  icons/obj/item/consumable/food/candy.dmi
Labels: Code, Icon

#427 double barrel sprite update
  icons/obj/item/weapons/ranged/dbarrel.dmi
Labels: Icon

#429 Fixing the PKM
  code/_core/obj/item/magazine/lmg_762_r.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/pkm.dm
Labels: Code

#418 Fiendish Resilience PR - new boss loot
  burgerstation.dme
  code/_core/datum/damagetype/ranged/bullet/fiendish_resilience.dm
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/weapon/ranged/bullet/revolver/Fiendish.dm
  code/_core/obj/projectile/bullet.dm
  icons/obj/item/weapons/ranged/revolver/fiendish.dmi
Labels: Code, Icon

#432 Adds a bunch of icons
  icons/obj/item/clothing/alchemist_coat.dmi
  icons/obj/item/clothing/animay_fantasy_armor.dmi
  icons/obj/item/clothing/burger_employee_pants.dmi
  icons/obj/item/clothing/burger_employee_shirt.dmi
  icons/obj/item/clothing/burgerslayersword.dmi
  icons/obj/item/clothing/clown_riot_armor.dmi
  icons/obj/item/clothing/cultbattlearmor.dmi
  icons/obj/item/clothing/cultbattlehelm.dmi
  icons/obj/item/clothing/evilshrine.dmi
  icons/obj/item/clothing/fairy_wings.dmi
  icons/obj/item/clothing/ihavenoideahowtodothisbutcombinethetwo.dmi
  icons/obj/item/clothing/laser_bow.dmi
  icons/obj/item/clothing/magikhood.dmi
  icons/obj/item/clothing/magikrobe.dmi
  icons/obj/item/clothing/minievilshrine.dmi
  icons/obj/item/clothing/movitated_coat.dmi
  icons/obj/item/clothing/nunhood.dmi
  icons/obj/item/clothing/nunrobe.dmi
Labels: Code, Icon

#439 Mag refiller upgrade description tweak
  code/_core/obj/item/tempering/tempering_magazine.dm
Labels: Code
