Repository BurgerLUA/burgerstation, pull requests merged in 2021-08, with the labels that each got.

#344 [FIX]It just keeps on coming: Endless Holster added to code from Icons
  code/_core/obj/item/clothing/belt/endless_holster.dm
Labels: Code

#347 Ore var adjusment
  code/_core/obj/structure/interactive/ground_ore_deposit.dm
Labels: Code

#333 Adds some special snowflake masks for special snowflakes.
  code/_core/obj/item/clothing/masks/paper.dm
  icons/obj/item/clothing/masks/paper.dmi
Labels: Code, Icon

#351 Leaper
  code/_core/datum/damagetype/ranged/leaper_bubble.dm
Labels: Code

#349 Adds Oxygen Adjustment to Slaughterclaws + changes bloodcrawl sound
  code/_core/datum/damagetype/unarmed/slaughter.dm
  code/_core/obj/item/weapon/melee/slaughterclaws.dm
Labels: Code

#345 hypos can now inject in 10u increments
  code/_core/obj/item/container/beaker/syringe.dm
Labels: Code

#332 moves the rest of the dark rating to Arcane on the Bunny Ears, keeps holy penalty
  code/_core/obj/item/clothing/head/hats/cat.dm
Labels: Code

#353 "Fixes" masks
  code/_core/obj/item/clothing/masks/paper.dm
  icons/obj/item/clothing/masks/paper.dmi
Labels: Code, Icon

#354 Minor antagonist tweaks and fixes
  burgerstation.dme
  code/_core/datum/loadout/rev_new.dm
  code/_core/datum/loadout/syndicate/_syndicate.dm
  code/_core/obj/item/announcement.dm
  code/_core/obj/item/bullet/revolver.dm
  code/_core/obj/item/clothing/head/hats/hos.dm
  code/_core/obj/item/clothing/overwear/coat/hos.dm
  code/_core/obj/item/clothing/uniform/antag.dm
  code/_core/obj/item/clothing/uniform/utility.dm
  code/_core/obj/item/pinpointer.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/abakan.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/ak12.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/ak47.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/groza.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/pkm.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/val.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/vintorez.dm
  code/_core/obj/item/weapon/ranged/bullet/revolver/nagant.dm
  code/_core/obj/item/weapon/ranged/laser/fed/_fed.dm
  code/_core/obj/item/weapon/ranged/laser/fed/plasma_cutter.dm
  code/_core/obj/structure/interactive/local_machine/vendor/engineering.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  code/_core/obj/structure/interactive/local_machine/vendor/science.dm
  code/_core/obj/structure/interactive/local_machine/vendor/security.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  icons/obj/item/clothing/hats/revfficer.dmi
  icons/obj/item/clothing/suit/revfficer.dmi
  icons/obj/item/clothing/uniforms/rev_antag.dmi
  icons/obj/item/clothing/uniforms/revficer.dmi
  icons/obj/item/clothing/uniforms/syndie_antag.dmi
  icons/obj/item/clothing/uniforms/util_cmd.dmi
  icons/obj/item/clothing/uniforms/util_engi.dmi
  icons/obj/item/clothing/uniforms/util_gen.dmi
  icons/obj/item/clothing/uniforms/util_med.dmi
  icons/obj/item/clothing/uniforms/util_sci.dmi
  icons/obj/item/clothing/uniforms/util_sec.dmi
  icons/obj/item/clothing/uniforms/util_sup.dmi
  icons/obj/item/pda.dmi
  icons/obj/item/pinpointer.dmi
  icons/obj/item/weapons/ranged/revolver/762.dmi
  icons/obj/item/weapons/ranged/rifle/rev/762_lmg.dmi
  icons/obj/item/weapons/ranged/shotgun/saiga.dmi
Labels: Code, Icon

#356 QoL stuff and Botany Re-Re-Fixed
  code/_core/datum/reagent/reagent_nutrition.dm
  code/_core/obj/item/analyzer/angle.dm
  code/_core/obj/item/analyzer/plant.dm
  code/_core/obj/item/container/food/plants.dm
  code/_core/obj/item/crafting/filter.dm
  code/_core/obj/item/portal_scroll.dm
  code/_core/obj/item/seed/_seed.dm
  code/_core/obj/item/seed/seed_types.dm
  code/_core/obj/item/tempering/tempering_magazine.dm
  code/_core/obj/structure/interactive/botany/_plant.dm
  code/_core/obj/structure/interactive/botany/plant.dm
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
  code/_core/world/subsystems/botany.dm
Labels: Code

#362 Yield fix
  code/_core/obj/structure/interactive/botany/_plant.dm
Labels: Code

#365 fixes two missing IFF scanners
  maps/jungle/z_00.dmm
  maps/jungle/z_01.dmm
Labels: Map

#361 you had too much fun with the claws, now it's time to face the music part I
  code/_core/obj/item/weapon/melee/slaughterclaws.dm
Labels: Code

#360 Golem fix(?)
  code/_core/datum/species/golem.dm
  code/_core/mob/living/advanced/player/antagonist/golem.dm
  code/_core/obj/item/organs/internal/implant/iff.dm
  code/_core/obj/item/organs/internal/implant/loyalty.dm
Labels: Code

#373 Where I rip out flamethrowers from fed
  burgerstation.dme
  code/_core/obj/item/clothing/back/storage/flamethrower.dm
  code/_core/obj/item/weapon/ranged/laser/flamethrower.dm
Labels: Code

#376 Fixes a rogue pixel on the Syndicate .50 rifle
  icons/obj/item/weapons/ranged/rifle/syndicate/50.dmi
Labels: Icon

#368 fixes a typo in contracts
  code/_core/obj/item/contract/_contract.dm
Labels: Code

#366 revamps the sleeper area
  maps/jungle/z_00.dmm
Labels: Map

#355 Witch hunting gear for dorks
  burgerstation.dme
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/clothing/head/hats/witchunter.dm
  code/_core/obj/item/clothing/overwear/coat/chaplain.dm
  code/_core/obj/item/storage/box/blood.dm
  icons/obj/item/clothing/hats/witchunter.dmi
  icons/obj/item/clothing/suit/witchunter.dmi
Labels: Code, Icon

#379 Jumpsuit Fix
  code/_core/obj/item/announcement.dm
  code/_core/obj/item/clothing/uniform/jumpsuits.dm
  code/_core/obj/item/clothing/uniform/utility.dm
  sound/alert/rev_pda.ogg
Labels: Code

#334 Adds a special move to armblade and a new wep to Changeling Armor
  burgerstation.dme
  code/_core/datum/damagetype/ranged/ling_tentacle.dm
  code/_core/obj/item/clothing/overwear/hardsuit/ling_armor.dm
  code/_core/obj/item/weapon/melee/ling_blade.dm
  code/_core/obj/item/weapon/ranged/stamina_use/_stamina_use.dm
  code/_core/obj/item/weapon/ranged/stamina_use/ling_tentacle.dm
  code/_core/obj/projectile/bio.dm
  icons/obj/item/weapons/ranged/ling_tentacle.dmi
Labels: Code, Icon

#364 Botany changes
  code/_core/datum/plant/_plant_type.dm
  code/_core/obj/structure/interactive/botany/_plant.dm
  code/_core/obj/structure/interactive/botany/plant.dm
Labels: Code

#367 Adds the compact defib
  code/_core/obj/item/defib.dm
  icons/obj/item/clothing/belts/compact_defib.dmi
Labels: Code, Icon

#374 Holy M1911 Nerf
  code/_core/datum/damagetype/ranged/bullet/holybullet.dm
Labels: Code

#377 fixes a typo in the ammo box description
  code/_core/obj/item/storage/ammo.dm
Labels: Code

#380 Makes the syndisuit actually lightweight, and therefore agile.
  code/_core/obj/item/clothing/overwear/hardsuit/syndicate.dm
Labels: Code

#381 Slaughter sprite update
  code/_core/obj/item/weapon/melee/slaughterclaws.dm
  icons/obj/item/weapons/unarmed/slaughterclaws.dmi
Labels: Code, Icon

#383 Golems now get a snowflake vendor that sells a mining hardsuit with the golem loyalty tag.
  code/_core/obj/item/clothing/overwear/hardsuit/mining.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  maps/prefabs/antag/golem_shuttle.dmm
Labels: Code, Map

#385 fixes a few "suprisingly" typos
  code/_core/mob/living/advanced/human/npc/rev.dm
  code/_core/obj/structure/interactive/local_machine/vendor/ammo.dm
  code/_core/obj/structure/interactive/local_machine/vendor/random.dm
Labels: Code

#378 Leaper Bubble Fix
  code/_core/datum/damagetype/ranged/leaper_bubble.dm
Labels: Code

#386 Engineering Hardsuit
  code/_core/obj/item/clothing/head/helmet/hardsuit/engineering.dm
  code/_core/obj/item/clothing/overwear/hardsuit/engineering.dm
  code/_core/obj/structure/interactive/local_machine/vendor/engineering.dm
Labels: Code

#393 Adds three clothing items, two suits and one helmet.
  code/_core/obj/item/clothing/head/hats/imperial_helmet.dm
  code/_core/obj/item/clothing/overwear/armor/burger_coat.dm
  code/_core/obj/item/clothing/overwear/armor/imperial_suit.dm
  icons/obj/item/clothing/hats/imperial_armor_helmet.dmi
  icons/obj/item/clothing/suit/burger_coat_armor.dmi
  icons/obj/item/clothing/suit/imperial_armor_suit.dmi
Labels: Code, Icon

#389 death
  code/_core/obj/item/clothing/underbottom/underwear.dm
  code/_core/obj/item/clothing/undertop/underwear.dm
  icons/obj/item/clothing/underwear/neko_bra.dmi
  icons/obj/item/clothing/underwear/neko_panty.dmi
Labels: Code, Icon

#387 Adds Loot Box, purchaseable with CREDITS from the Contractor
  burgerstation.dme
  code/_core/datum/dialogue/npc/contractor.dm
  code/_core/datum/dialogue/npc/merchant_goblin.dm
  code/_core/obj/item/storage/loot_box.dm
  code/_core/obj/structure/interactive/local_machine/vendor/contract.dm
  icons/obj/item/storage/death_box.dmi
Labels: Code, Icon

#395 EOD armor and slav safe resprite
  code/_core/obj/item/clothing/head/helmet/full/eod_helm.dm
  code/_core/obj/item/clothing/overwear/armor/eod.dm
  code/_core/obj/structure/interactive/local_machine/vendor/security.dm
  icons/obj/item/clothing/hats/eod_helmet.dmi
  icons/obj/item/clothing/hats/squad_helmet.dmi
  icons/obj/item/clothing/suit/eod_suit.dmi
  icons/obj/item/clothing/suit/squad_armor.dmi
Labels: Code, Icon

#391 Add Laser Sniper, Add said Sniper to Syndi Vendor
  burgerstation.dme
  code/_core/datum/damagetype/ranged/laser/rifle.dm
  code/_core/obj/item/clothing/head/hats/witchunter.dm
  code/_core/obj/item/weapon/ranged/laser/laser_sniper.dm
  code/_core/obj/item/weapon/ranged/stamina_use/_stamina_use.dm
  code/_core/obj/item/weapon/ranged/stamina_use/ling_tentacle.dm
  code/_core/obj/projectile/bio.dm
  code/_core/obj/projectile/laser.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/weapons/ranged/laser/sniper.dmi
  icons/obj/projectiles/laser.dmi
  sound/weapons/laser_sniper/shoot.ogg
Labels: Code, Icon

#396 Adds a shuttle console Z1
  maps/jungle/z_01.dmm
Labels: Map

#398 adds bluespace rifts again
  maps/jungle/z_01.dmm
  maps/jungle/z_02.dmm
  maps/jungle/z_03.dmm
Labels: Map

#397 Floor
  code/_core/obj/item/disk/_disk.dm
  code/_core/obj/structure/interactive/local_machine/vendor/engineering.dm
Labels: Code

#400 changes the chargen area
  maps/_core/bluespace.dmm
Labels: Map

#401 changes2rev
  code/_core/turf/simulated/wall/brick.dm
  code/_core/turf/simulated/wall/wood.dm
  maps/prefabs/antag/rev_compound.dmm
Labels: Code, Map

#402 bandana changes
  code/_core/obj/item/clothing/head/hats/bandana.dm
Labels: Code

#404 Adds the compact defib belt to the medical vendor
  code/_core/obj/structure/interactive/local_machine/vendor/vendor_types.dm
Labels: Code

#409 STOP PUTTING YOURSELF IN GAY BABY JAIL
  code/_core/area/centcomm/_centcomm.dm
Labels: Code

#405 bricksagain
  code/_core/turf/simulated/wall/brick.dm
Labels: Code

#410 Fixes some "Forrest" typos.
  code/_core/area/dungeon.dm
Labels: Code
