Repository BurgerLUA/burgerstation, pull requests merged in 2021-01, with the labels that each got.

#106 Makes russian language way more developed
  code/_core/datum/language/russian.dm
Labels: Code

#107 added floor descriptions
  code/_core/turf/simulated/floor/astroturf.dm
  code/_core/turf/simulated/floor/carpet.dm
  code/_core/turf/simulated/floor/colored/_colored.dm
  code/_core/turf/simulated/floor/cult.dm
  code/_core/turf/simulated/floor/grass.dm
  code/_core/turf/simulated/floor/plating.dm
  code/_core/turf/simulated/floor/tile.dm
  code/_core/turf/simulated/floor/xeno.dm
Labels: Code

#108 Add Battery to Restocker
  code/_core/obj/structure/interactive/restocker.dm
Labels: Code

#109 12.7 auto nerf
  code/_core/obj/item/weapon/ranged/bullet/magazine/pistol/overseer.dm
Labels: Code

#111 Fixes Syndie dufflebag sprites
  icons/obj/item/clothing/back/dufflebag/syndicate.dmi
  icons/obj/item/clothing/back/dufflebag/syndicate_medical.dmi
Labels: Icon

#110 Fixes Wielded weapon spreads
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/pdw.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/pulse.dm
  code/_core/obj/item/weapon/ranged/laser/iongun.dm
  code/_core/obj/item/weapon/ranged/laser/laser_rifle.dm
Labels: Code

#115 Easy sprite fixes
  icons/obj/item/weapons/ranged/rifle/dmca.dmi
  icons/obj/item/weapons/ranged/smg/10mm.dmi
  icons/obj/item/weapons/ranged/smg/10mm_2.dmi
Labels: Icon

#113 Rev miniupdate. Again.
  code/_core/datum/loadout/rev_new.dm
  code/_core/obj/item/clothing/glasses/thermal.dm
  code/_core/obj/item/clothing/overwear/armor/tacticool.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
  icons/obj/item/clothing/glasses/thermal_rev.dmi
  icons/obj/item/clothing/hats/squad_helmet.dmi
  icons/obj/item/clothing/suit/squad_armor.dmi
Labels: Code, Icon
