Repository BurgerLUA/burgerstation, pull requests merged in 2022-10, with the labels that each got.

#541 Remaps a lot of prefabs
  code/_core/area/mission/prefabs/misc.dm
  maps/prefabs/64x64/clockwork.dmm
  maps/prefabs/64x64/outpostmining.dmm
  maps/prefabs/64x64/syndicate.dmm
  maps/prefabs/64x64/xeno.dmm
  maps/prefabs/antag/golem_shuttle.dmm
  maps/prefabs/antag/syndicate_ship.dmm
Labels: Code, Map

#534 Clockwork cult polearm
  burgerstation.dme
  code/_core/datum/damagetype/melee/club/holy_cog.dm
  code/_core/obj/item/weapon/melee/holy_cog.dm
  icons/obj/item/weapons/melee/polearms/holy_cog.dmi
Labels: Code, Icon

#535 Vests can now hold items up to Size_2
  code/_core/obj/item/clothing/overwear/coat/vest.dm
Labels: Code

#542 adds dosh to the bag of hoarding
  code/_core/obj/item/storage/bags/_bags.dm
Labels: Code

#582 Fixes barricades
  code/_core/obj/structure/interactive/barricade.dm
Labels: Code

#581 Update mob.dm
  code/_core/datum/armor/mob.dm
Labels: Code

#579 fixes missing combat hypo sprite
  code/_core/obj/item/container/syringe/hypospray.dm
Labels: Code

#568 Chemistry
  burgerstation.dme
  code/_core/datum/reagent/_reagent.dm
  code/_core/datum/reagent/reagent_core.dm
  code/_core/datum/reagent/reagent_fuel.dm
  code/_core/datum/reagent/reagent_nutrition_alcohol.dm
  code/_core/datum/reagent/reagent_nutrition_dough.dm
  code/_core/datum/reagent_container/_reagent_container.dm
  code/_core/datum/reagent_container/ore.dm
  code/_core/datum/reagent_recipe/drinks.dm
  code/_core/datum/reagent_recipe/drugs.dm
  code/_core/datum/reagent_recipe/explosives.dm
  code/_core/datum/reagent_recipe/food.dm
  code/_core/datum/reagent_recipe/magic.dm
  code/_core/datum/reagent_recipe/medicine.dm
  code/_core/datum/reagent_recipe/misc.dm
  code/_core/datum/reagent_recipe/oil_and_fuel.dm
  code/_core/datum/recipe/alchemy.dm
  code/_core/obj/item/_item.dm
  code/_core/obj/item/container/beaker/_beaker.dm
  code/_core/obj/item/container/medicine/medicine_subtypes.dm
  code/_core/obj/item/crafting/_crafting.dm
  code/_core/obj/item/crafting/alchemy.dm
  code/_core/obj/item/crafting/grinder.dm
  code/_core/obj/item/crafting/pill_press.dm
  code/_core/obj/item/defib.dm
  code/_core/obj/item/ore/_ore.dm
  code/_core/obj/item/paper/book/book_guides.dm
  code/_core/obj/item/paper/book/book_references.dm
  code/_core/obj/structure/interactive/local_machine/vendor/chef.dm
  code/_core/obj/structure/interactive/local_machine/vendor/chemistry.dm
  code/_core/obj/structure/interactive/local_machine/vendor/medical.dm
  code/_core/obj/structure/interactive/local_machine/vendor/smart_fridge.dm
  icons/obj/item/book.dmi
  icons/obj/structure/vending.dmi
  maps/_core/station.dmm
Labels: Code

#587 Fixes corn bread name, adds potatoes seeds to the seed servitor.
  code/_core/datum/plant/_plant_type.dm
  code/_core/datum/reagent_recipe/food.dm
  code/_core/obj/item/seed/seed_types.dm
  code/_core/obj/structure/interactive/local_machine/vendor/hydroponics.dm
  icons/obj/item/consumable/food/plants.dmi
  icons/obj/item/seed.dmi
Labels: Code, Icon
