Repository BurgerLUA/burgerstation, pull requests merged in 2022-11, with the labels that each got.

#551 adds 12 gauge rubber slugs
  code/_core/datum/damagetype/ranged/bullet/shotgun_12.dm
  code/_core/obj/item/bullet/shotgun.dm
  code/_core/obj/item/storage/ammo.dm
  code/_core/world/subsystems/cargo.dm
  icons/obj/item/bullet/shotgun.dmi
  icons/obj/item/storage/ammo.dmi
Labels: Code, Icon

#557 Enchanting, but moff & lizorb
  code/_core/datum/enchantment/enchantment_types.dm
  code/_core/obj/structure/interactive/enchantment_circle.dm
Labels: Code

#591 Adds premium ammo vendor
  code/_core/obj/structure/interactive/restocker.dm
  icons/obj/structure/vending.dmi
  maps/_core/station.dmm
Labels: Code, Icon, Map

#564 [Gun] Opticor - A heavy Energy Sniper
  burgerstation.dme
  code/_core/datum/damagetype/ranged/laser/rifle.dm
  code/_core/datum/loot/lavaland.dm
  code/_core/obj/item/weapon/ranged/laser/opticor.dm
  code/_core/obj/projectile/laser.dm
  icons/obj/item/weapons/ranged/laser/opticor.dmi
Labels: Code, Icon

#595 Reagent Metabolism Overhaul + Syringe Bugfixes
  code/__defines/reagent.dm
  code/_core/datum/reagent/_reagent.dm
  code/_core/datum/reagent/reagent_blood.dm
  code/_core/datum/reagent/reagent_core.dm
  code/_core/datum/reagent/reagent_drug.dm
  code/_core/datum/reagent/reagent_medicine.dm
  code/_core/datum/reagent/reagent_medicine_core.dm
  code/_core/datum/reagent/reagent_medicine_painkiller.dm
  code/_core/datum/reagent/reagent_misc.dm
  code/_core/datum/reagent/reagent_nutrition.dm
  code/_core/datum/reagent/reagent_nutrition_alcohol.dm
  code/_core/datum/reagent/reagent_nutrition_energy.dm
  code/_core/datum/reagent/reagent_nutrition_plants.dm
  code/_core/datum/reagent/reagent_tobacco.dm
  code/_core/datum/reagent/reagent_toxin.dm
  code/_core/datum/reagent_container/_reagent_container.dm
  code/_core/datum/reagent_container/stomach.dm
  code/_core/obj/item/analyzer/health.dm
  code/_core/obj/item/container/syringe/_syringe.dm
  code/_core/obj/item/container/syringe/hypodermic.dm
  code/_core/obj/item/container/syringe/hypospray.dm
  code/_core/obj/item/container/syringe/medipen.dm
  code/_core/obj/item/powercell/_powercell.dm
  code/_core/obj/item/storage/kits/_kits.dm
  code/_core/obj/item/storage/kits/kits_small.dm
  code/_core/obj/structure/interactive/botany/_plant.dm
  code/_core/obj/structure/interactive/local_machine/vendor/syndicate.dm
Labels: Code

#590 [Bugfix]Bugz b gone
  code/__defines/pod.dm
  code/_core/datum/dialogue/npc/contractor.dm
  code/_core/datum/reagent/reagent_medicine.dm
  code/_core/datum/savedata/client/death_box/_death_box.dm
  code/_core/mob/living/fire.dm
  code/_core/obj/item/container/medicine/_medicine.dm
  code/_core/obj/item/contract/_contract.dm
  code/_core/obj/item/paper/paper_cargo.dm
  code/_core/obj/item/weapon/ranged/laser/fed/_fed.dm
  code/_core/obj/item/weapon/ranged/laser/fed/plasma_cutter.dm
  code/_core/obj/structure/interactive/drop_pod.dm
  code/_core/obj/structure/interactive/fax_machine.dm
  code/_core/obj/structure/interactive/fulton.dm
Labels: Code

#600 2 more houses
  code/_core/area/mission/prefabs/house.dm
  maps/prefabs/house/D04.dmm
  maps/prefabs/house/D05.dmm
Labels: Code, Map

#601 [Balance] Boss-wave
  code/_core/datum/ai/boss/can_man.dm
  code/_core/datum/armor/mob.dm
  code/_core/datum/damagetype/npc/crab.dm
  code/_core/datum/damagetype/unarmed/claws.dm
  code/_core/mob/living/simple/_simple.dm
  code/_core/mob/living/simple/ash_drake.dm
  code/_core/mob/living/simple/bubblegum.dm
  code/_core/mob/living/simple/can_man.dm
  code/_core/mob/living/simple/colossus.dm
  code/_core/mob/living/simple/crab.dm
  code/_core/mob/living/simple/goblin_king.dm
  code/_core/mob/living/simple/golaith/goliath_broodmother.dm
  code/_core/mob/living/simple/herald.dm
  code/_core/mob/living/simple/hierophant.dm
  code/_core/mob/living/simple/leaper.dm
  code/_core/obj/structure/interactive/boss_loot.dm
  maps/_core/mission.dmm
  maps/prefabs/boss_jungle/frogger.dmm
  maps/prefabs/boss_jungle/hierophant.dmm
  maps/prefabs/boss_lavaland/bubblegum.dmm
Labels: Code, Map
