Repository BurgerLUA/burgerstation, pull requests merged in 2022-03, with the labels that each got.

#459 fixes players eating soda cans instead of drinking them
  code/_core/obj/item/container/beaker/_beaker.dm
  code/_core/obj/item/container/can/_can.dm
Labels: Code

#461 fixes RPGs breaking when shot
  code/_core/obj/item/weapon/ranged/bullet/revolver/rocket.dm
Labels: Code

#462 adds the axe weapon type, and a fireaxe melee!
  burgerstation.dme
  code/_core/datum/damagetype/melee/axe/axe.dm
  code/_core/datum/damagetype/melee/axe/fireaxe.dm
  code/_core/obj/item/weapon/melee/axe.dm
  icons/obj/item/weapons/melee/axes/fireaxe.dmi
Labels: Code, Icon

#465 [mapping] Adds basic placeholder areas to the main map
  maps/_core/main_new.dmm
Labels: Map

#463 Adds Swarmer Enemies
  burgerstation.dme
  code/_core/datum/ai/simple/swarmer.dm
  code/_core/datum/damagetype/npc/swarmer.dm
  code/_core/mob/living/simple/swarmer/swarmer.dm
  icons/mob/living/simple/swarmer.dmi
Labels: Code, Icon

#464 Rock walls now drop sandstone when broken
  burgerstation.dme
  code/_core/obj/item/material/sandstone.dm
  code/_core/turf/simulated/wall/rock.dm
  icons/obj/item/material.dmi
Labels: Code, Icon

#467 Resprites forest Ghillie+
  code/_core/obj/item/clothing/head/_head.dm
  code/_core/obj/item/clothing/head/helmet/full/ghillie.dm
  code/_core/obj/item/clothing/overwear/coat/ghillie.dm
  icons/obj/item/clothing/hats/maskcoat_grass.dmi
  icons/obj/item/clothing/suit/maskcoat_grass.dmi
Labels: Code, Icon

#469 Changes some vendors and their palettes
  icons/obj/structure/vending.dmi
Labels: Icon

#468 Throwing dragged
  code/_core/atom/moveable/throwing.dm
  code/_core/obj/hud/inventory/_inventory.dm
  code/_core/obj/hud/inventory/grabbing.dm
  code/_core/obj/hud/inventory/interaction.dm
Labels: Code

#471 golems work now
  code/_core/datum/species/golem.dm
  icons/mob/living/advanced/species/golem.dmi
Labels: Code, Icon

#470 Pour-water sound on proc/try_transfer_reagents
  code/_core/obj/item/_item.dm
  sound/items/consumables/pourwater.ogg
Labels: Code

#458 Fixes mining drills being able to be rotated
  code/_core/obj/structure/interactive/mining_drill.dm
Labels: Code
