Repository BurgerLUA/burgerstation, pull requests merged in 2022-07, with the labels that each got.

#479 Fixes sniper attachment sprites
  code/_core/obj/item/attachment/attachment_stock.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/sniper_127.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/sniper_20.dm
  icons/obj/item/attachments.dmi
Labels: Code, Icon

#476 Resprites syndi-cat hardsuits, adds tower shield
  code/_core/obj/item/weapon/melee/energy/shield.dm
  icons/obj/item/clothing/hats/syndie_advanced.dmi
  icons/obj/item/clothing/hats/syndie_basic.dmi
  icons/obj/item/clothing/hats/syndie_elite.dmi
  icons/obj/item/clothing/suit/syndie_advanced.dmi
  icons/obj/item/clothing/suit/syndie_basic.dmi
  icons/obj/item/clothing/suit/syndie_elite.dmi
  icons/obj/item/weapons/melee/laser/towershield.dmi
Labels: Code, Icon

#481 Holy m1911 fix? seems to work.
  code/_core/obj/item/bullet/pistol.dm
  code/_core/obj/item/magazine/holy45.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/pistol/holy45.dm
Labels: Code

#480 You can wield the tungsten SMG now.
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/tungsten.dm
Labels: Code

#492 Fireaxe, Halo sword, and brass knuckle resprite.
  icons/obj/item/weapons/melee/axes/fireaxe.dmi
  icons/obj/item/weapons/melee/laser/handsword.dmi
  icons/obj/item/weapons/unarmed/brass_knuckles.dmi
Labels: Icon

#493 Cooler body pillaging
  burgerstation.dme
  code/_core/datum/loadout/rev_new.dm
  code/_core/datum/loadout/survivor.dm
  code/_core/datum/loadout/syndicate/_syndicate.dm
  code/_core/datum/loot/goblin.dm
  code/_core/datum/loot/rev.dm
  code/_core/datum/loot/scroll.dm
  code/_core/datum/loot/survivor.dm
  code/_core/datum/loot/syndie.dm
  code/_core/datum/reagent_container/beaker.dm
  code/_core/obj/item/container/beaker/bottle.dm
  code/_core/obj/item/container/beaker/bucket.dm
  code/_core/obj/item/experience_scroll/experience_scroll_attribute.dm
  code/_core/obj/item/experience_scroll/experience_scroll_skill.dm
  code/_core/obj/item/storage/bags/goodie.dm
  code/_core/obj/structure/interactive/local_machine/vendor/smart_fridge.dm
  icons/obj/item/books.dmi
  icons/obj/item/clothing/back/kitbag.dmi
  icons/obj/item/container/cup/flask.dmi
Labels: Code, Icon

#495 Adds Retextured Cursed-Shotgun, retextures some icons. See Description
  icons/obj/item/weapons/melee/swords/burgerslayersword.dmi
  icons/obj/item/weapons/melee/swords/katana.dmi
  icons/obj/item/weapons/ranged/pistol/10mm_2.dmi
  icons/obj/item/weapons/ranged/pistol/12mm_nt_proto.dmi
  icons/obj/item/weapons/ranged/pistol/40_1.dmi
  icons/obj/item/weapons/ranged/pistol/8mm.dmi
  icons/obj/item/weapons/ranged/pistol/9mm.dmi
  icons/obj/item/weapons/ranged/pistol/dynamic_revolver.dmi
  icons/obj/item/weapons/ranged/pistol/holy45.dmi
  icons/obj/item/weapons/ranged/revolver/357.dmi
  icons/obj/item/weapons/ranged/revolver/38_2.dmi
  icons/obj/item/weapons/ranged/shotgun/cursed.dmi
  icons/obj/item/weapons/ranged/smg/slavic/9mm.dmi
Labels: Icon

#497 NO CODE, ONLY ART
  icons/mob/living/simple/ghost.dmi
  icons/mob/living/simple/jungle/technically_a_structure/wall_arachnid.dmi
  icons/obj/structure/shrine.dmi
  icons/obj/structure/trash_piles.dmi
  icons/obj/structure/wishgranter.dmi
  icons/obj/structure/wishgranter_old.dmi
Labels: Icon

#499 Medipens "improvement"
  code/_core/datum/reagent_container/syringe.dm
  code/_core/obj/item/container/syringe/medipen.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  icons/obj/item/storage/kits.dmi
Labels: Code, Icon
