Repository BurgerLUA/burgerstation, pull requests merged in 2022-09, with the labels that each got.

#520 Moth customization
  code/_core/datum/species/moth.dm
  code/_core/obj/item/organs/antennae.dm
  code/_core/obj/item/organs/eyes.dm
  code/_core/obj/item/organs/wings.dm
  icons/mob/living/advanced/hair/moth_antennae.dmi
  icons/mob/living/advanced/hair/moth_fluff.dmi
  icons/mob/living/advanced/hair/moth_hair_face.dmi
  icons/mob/living/advanced/hair/moth_hair_head.dmi
  icons/mob/living/advanced/hair/moth_wings.dmi
  icons/mob/living/advanced/species/moth.dmi
Labels: Code, Icon

#519 3 NEW HOUSEPERFABS
  code/_core/area/mission/prefabs/house.dm
  maps/prefabs/house/D01.dmm
  maps/prefabs/house/D02.dmm
  maps/prefabs/house/D03.dmm
Labels: Code, Map

#521 Legion core stabilizer
  code/_core/obj/item/legion_core.dm
  code/_core/obj/structure/interactive/local_machine/vendor/mining.dm
  icons/obj/item/legion_core.dmi
Labels: Code, Icon

#530 Gold Toolbox value down
  code/_core/datum/damagetype/melee/club/gold_toolbox.dm
  code/_core/obj/item/weapon/melee/toolboxes.dm
Labels: Code

#539 Adds an enemy pinpointer for new players
  code/_core/obj/item/clothing/back/storage/satchel/_satchel.dm
  code/_core/obj/item/pinpointer.dm
Labels: Code

#540 Re-adds cargo, adds 127x90 premium and AP, fixes 127x90 barrel pixelshift
  code/_core/datum/damagetype/ranged/bullet/sniper_127.dm
  code/_core/obj/item/bullet/sniper_127.dm
  code/_core/obj/item/bulletbox.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/sniper_127.dm
  code/_core/obj/structure/interactive/crate/secure.dm
  code/_core/world/subsystems/cargo.dm
  maps/_core/station.dmm
Labels: Code, Map

#498 Mowowith
  code/_core/obj/item/clothing/head/helmet/full/seva.dm
  code/_core/obj/item/clothing/overwear/armor/seva.dm
  icons/obj/item/clothing/hats/sevamowo_suit.dmi
  icons/obj/item/clothing/suit/sevamowo_suit.dmi
Labels: Code, Icon, AGAINST GOD AND NATURE
