Repository BurgerLUA/burgerstation, pull requests merged in 2023-06, with the labels that each got.

#623 fixes combat hypospray reverse filling
  icons/obj/item/container/hypospray_combat.dmi
Labels: Icon

#622 Adds a Clown job
  burgerstation.dme
  code/_core/datum/dialogue/npc/job_providers/jestmaster.dm
  code/_core/datum/job/clown.dm
  code/_core/datum/loadout/clown.dm
  code/_core/mob/living/advanced/human/npc/unique/head/jestmaster.dm
  maps/_core/bluespace.dmm
Labels: Code, Map

#621 the cooler diverters
  code/_core/obj/structure/interactive/diverter.dm
Labels: Code

#627 fixes every typo i could find
  code/_core/datum/job/assistant.dm
  code/_core/datum/job/security.dm
  code/_core/datum/track/_track.dm
  code/_core/mob/living/simple/bear.dm
  code/_core/mob/living/simple/passive/cat.dm
  code/_core/mob/living/simple/passive/lizard.dm
  code/_core/mob/living/simple/passive/mouse.dm
  code/_core/obj/item/clothing/belt/damage_deferal_shield.dm
  code/_core/obj/item/clothing/feet/shoes/workboots.dm
  code/_core/obj/item/clothing/overwear/armor/gladiator.dm
  code/_core/obj/item/clothing/overwear/coat/vest.dm
  code/_core/obj/item/container/beaker/potion.dm
  code/_core/obj/item/ghost_trap.dm
  code/_core/obj/item/herald_mirror.dm
  code/_core/obj/item/weapon/melee/energy/energy_wrench.dm
  code/_core/obj/item/weapon/melee/energy/handsword.dm
  code/_core/obj/item/weapon/melee/energy/sword.dm
  code/_core/obj/item/weapon/melee/hierophant_staff.dm
  code/_core/obj/item/weapon/melee/kitchen.dm
  code/_core/obj/item/weapon/melee/tool/_tool.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/advanced.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/m13.dm
  code/_core/obj/item/weapon/ranged/bullet/magazine/rifle/service.dm
  code/_core/obj/item/weapon/ranged/laser/dynamic.dm
  code/_core/obj/item/weapon/ranged/magic/staff.dm
  code/_core/obj/item/weapon/ranged/spellgem/clown_mending.dm
  code/_core/obj/structure/interactive/atmospherics/_atmospherics.dm
  code/_core/obj/structure/interactive/bed_sleeper_cryo.dm
  code/_core/obj/structure/interactive/chair.dm
  code/_core/obj/structure/interactive/conveyor.dm
  code/_core/obj/structure/interactive/conveyor_new.dm
  code/_core/obj/structure/interactive/disposals/machine/outlet.dm
  code/_core/obj/structure/interactive/fire_alarm.dm
  code/_core/obj/structure/interactive/intercom.dm
  code/_core/obj/structure/interactive/mining_drill.dm
  code/_core/obj/vehicle/_vehicle.dm
  code/_core/world/subsystems/air.dm
Labels: Code

#628 adds turret ammo to engi ammo vendor
  code/_core/obj/structure/interactive/local_machine/vendor/nanotrasen/nanotrasen_engineering.dm
Labels: Code

#630 removes NO_BLOODCRAWL flag
  code/__defines/area.dm
  code/_core/area/mission/prefabs/_prefabs.dm
  code/_core/obj/item/weapon/melee/slaughterclaws.dm
Labels: Code

#631 fixes a single typo
  code/_core/datum/event/economy_dump.dm
Labels: Code

#632 adds a phosphorous beaker to chem vendor
  code/_core/obj/item/container/beaker/_beaker.dm
  code/_core/obj/structure/interactive/local_machine/vendor/nanotrasen/nanotrasen_chemistry.dm
Labels: Code

#633 adds portal scrolls to station bawse loot
  maps/_core/station.dmm
Labels: Map

#625 changes Clown job to be funnier, and removes negative stats
  code/_core/datum/job/clown.dm
Labels: Code

#638 Adds basements to three of the house prefabs.
  code/_core/area/mission/prefabs/house.dm
  maps/prefabs/house/02.dmm
  maps/prefabs/house/02_below.dmm
  maps/prefabs/house/03.dmm
  maps/prefabs/house/03_below.dmm
  maps/prefabs/house/08.dmm
  maps/prefabs/house/08_below.dmm
Labels: Code, Map
